@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap);

.notif[data-v-42a8d666] {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 20px 20px;
    width: 80%;
    max-width: 840px;
    color: #fff;
    font-family: Lato, sans-serif;
    -webkit-animation: slide-up 1s;
    animation: slide-up 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 99999
}

.notif.error[data-v-42a8d666] {
    background: #c92626
}

.notif.success[data-v-42a8d666] {
    background: #7f8a17
}

.notif.infos[data-v-42a8d666] {
    background: #e77c1e
}

.notif.close[data-v-42a8d666] {
    -webkit-animation: slide-down 1s;
    animation: slide-down 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.notif .close[data-v-42a8d666] {
    font-family: Lato, sans-serif;
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
    transition: .2s;
    width: 40px;
    text-align: center
}

.notif .close[data-v-42a8d666]:hover {
    opacity: .5
}

#footer {
    margin-bottom: 60px
}

#footer,
#footer .social {
    display: flex;
    align-items: center
}

#footer .social .text {
    font-size: 16px;
    margin-right: 20px
}

#footer .social a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    margin-right: 10px;
    line-height: 35px;
    transition: filter .2s
}

#footer .social a img {
    vertical-align: middle
}

#footer .social a:hover {
    filter: brightness(1.2)
}

#footer .social a:last-child {
    margin-right: 0
}

#footer .contract {
    margin-left: auto
}

#footer .contract a {
    color: #000
}

#footer .contract a:hover {
    text-decoration: none
}

.content-wallet[data-v-7210011c] {
    margin-left: auto;
    margin-right: 30px
}

.connect[data-v-7210011c],
.disconnect[data-v-7210011c] {
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 20px 6px 20px;
    display: inline-block;
    font-size: 16px;
    transition: filter .2s;
    color: #000
}

.connect span[data-v-7210011c],
.disconnect span[data-v-7210011c] {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #c0c835;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 10px 0 0
}

.disconnect[data-v-7210011c] {
    cursor: pointer;
    margin-left: auto
}

.disconnect span[data-v-7210011c] {
    background-color: #d82b2b
}

.disconnect[data-v-7210011c]:hover {
    filter: brightness(1.2)
}

@-webkit-keyframes background-animation {
    to {
        background-position: 0 0
    }

    0% {
        background-position: -1780px -690px
    }
}

@keyframes background-animation {
    to {
        background-position: 0 0
    }

    0% {
        background-position: -1780px -690px
    }
}

@-webkit-keyframes slide-up {
    0% {
        transform: translateY(150px) translateX(-50%)
    }

    to {
        transform: translateY(0) translateX(-50%)
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(150px) translateX(-50%)
    }

    to {
        transform: translateY(0) translateX(-50%)
    }
}

@-webkit-keyframes slide-down {
    0% {
        transform: translateY(0) translateX(-50%)
    }

    to {
        transform: translateY(150px) translateX(-50%)
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0) translateX(-50%)
    }

    to {
        transform: translateY(150px) translateX(-50%)
    }
}

@-webkit-keyframes slide-right {
    0% {
        left: -50%
    }

    to {
        left: 120%
    }
}

@keyframes slide-right {
    0% {
        left: -50%
    }

    to {
        left: 120%
    }
}

@-webkit-keyframes floating {
    0% {
        transform: translate(0)
    }

    30% {
        transform: translate(10px, 20px)
    }

    60% {
        transform: translate(-10px)
    }

    to {
        transform: translate(0)
    }
}

@keyframes floating {
    0% {
        transform: translate(0)
    }

    30% {
        transform: translate(10px, 20px)
    }

    60% {
        transform: translate(-10px)
    }

    to {
        transform: translate(0)
    }
}

@-webkit-keyframes floating-scaleX {
    0% {
        transform: translate(0) scaleX(-1)
    }

    30% {
        transform: translate(10px, 20px) scaleX(-1)
    }

    60% {
        transform: translate(-10px) scaleX(-1)
    }

    to {
        transform: translate(0) scaleX(-1)
    }
}

@keyframes floating-scaleX {
    0% {
        transform: translate(0) scaleX(-1)
    }

    30% {
        transform: translate(10px, 20px) scaleX(-1)
    }

    60% {
        transform: translate(-10px) scaleX(-1)
    }

    to {
        transform: translate(0) scaleX(-1)
    }
}

html {
    font-size: 62.5%;
    background: #07081d
}

body {
    font: 1.8em/2 sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    font-family: Lato;
    line-height: 4rem;
    position: relative;
    overflow-x: hidden
}

main {
    max-width: 1400px;
    margin: 0 auto
}

.main-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1400px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2
}

.main-header,
.section {
    padding: 50px 0
}

h1 {
    font-size: 4;
    line-height: 4;
    margin: 0 0 4
}

h2 {
    font-family: Rammetto One;
    font-size: 8rem;
    line-height: 8rem;
    text-transform: uppercase;
    margin: 0 0 3
}

h3 {
    font-size: 2;
    line-height: 2;
    margin: 0 0 2
}

h4 {
    font-size: 1;
    line-height: 1;
    margin: 0 0 1
}

#app {
    max-width: 1120px;
    margin: auto
}

#app .wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 10px
}

#connection .connect,
#connection .disconnect {
    font-family: Lato;
    font-size: 1.6rem;
    outline: none;
    background: #172d42;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 3px 20px;
    margin-top: 35px;
    display: flex;
    align-items: center
}

#connection .connect:hover,
#connection .disconnect:hover {
    filter: brightness(1.3)
}

#connection .connect span,
#connection .disconnect span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #8ef4d6;
    margin-right: 10px
}

#connection .disconnect span {
    background-color: #fa5c7e
}

#hero {
    padding: 50px 0 0 0;
    display: flex;
    align-items: center
}

#hero .left p,
#hero .right {
    padding: 0 20px
}

#hero .right {
    position: relative
}

#hero .right .cadre {
    display: block;
    width: 100%;
    position: relative
}

#hero .right .cadre:hover {
    -webkit-animation: bounce 1s;
    animation: bounce 1s
}

#hero .right .pineapple {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 15px;
    overflow: hidden
}

#hero .right .pineapple img {
    width: 100%;
    height: auto
}

#hero .right .border {
    background-image: url(../images/site/meltedice.svg);
    background-repeat: no-repeat;
    background-size: 99%;
    width: 108%;
    height: 135%;
    display: block;
    position: absolute;
    top: -11px;
    left: -10px
}

#hero .right .mintleft {
    text-align: center;
    font-family: Rammetto One;
    font-size: 2.3vw;
    color: #beedfd;
    margin-top: 60px
}

#hero .right .mintleft span {
    color: #172d42
}

#hero .right .waveright {
    background-image: url(../images/site/wave.svg);
    width: 397px;
    height: 168px;
    display: block;
    position: absolute;
    right: -190px;
    bottom: 110px;
    z-index: -1
}

#mint {
    margin-top: 70px;
    display: flex;
    margin-bottom: 500px;
    margin-left: 20px
}

#mint .minting-btn {
    outline: none;
    border: none;
    background: #00d4ff;
    background: linear-gradient(90deg, #00d4ff, #697ff4 50%, #fa5c7e);
    font-family: Rammetto One;
    font-size: 1.9rem;
    color: #fff;
    border-radius: 40px;
    padding: 10px 50px;
    transition: all .2s linear;
    opacity: 1
}

#mint .minting-btn:hover {
    opacity: .8;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite
}

#mint .minting-btn .price {
    font-family: Lato;
    font-weight: 700
}

#mint .right {
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px
}

#mint .howmany {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-family: Rammetto One;
    margin-left: 40px
}

#mint .howmany .titlenumber {
    font-size: 2.5rem;
    display: inline-block
}

#mint .howmany .titlenumber.anim {
    -webkit-animation: pulse .5s;
    animation: pulse .5s
}

#mint .howmany .progressbar {
    width: 140px;
    height: 10px;
    background: #172d42;
    border-radius: 5px;
    position: relative
}

#mint .howmany .progressbar .fill {
    background: #513bff;
    background: linear-gradient(90deg, #513bff, #24bffd 50%, #9ffccf);
    position: absolute;
    width: 60%;
    height: 10px;
    border-radius: 5px;
    transition: .5s
}

#mint .selectnumber {
    display: flex;
    flex-direction: raw;
    align-items: flex-end;
    margin-left: 20px
}

#mint .selectnumber .less {
    width: 30px;
    height: 30px;
    background: #172d42;
    background-image: url(../images/site/less.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 3px;
    cursor: pointer
}

#mint .selectnumber .less:hover {
    filter: brightness(1.3)
}

#mint .selectnumber .more {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    background: #8ef4d6;
    background-image: url(../images/site/more.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 3px;
    cursor: pointer
}

#mint .selectnumber .more:hover {
    filter: brightness(1.3)
}

.btn {
    background: #beedfd;
    color: #07081d;
    padding: 3px 20px;
    border-radius: 3px;
    text-decoration: none;
    transition: .3s;
    display: inline-block;
    font-weight: 700
}

.btn:hover {
    background: #172d42;
    color: #beedfd
}

#reveal {
    margin-top: 30px;
    margin-bottom: 290px;
    display: flex;
    justify-content: center
}

#reveal .left {
    padding: 20px;
    text-align: right
}

#reveal .left h2 {
    font-size: 40px;
    line-height: 40px
}

#reveal .left h3 {
    font-size: 20px
}

#reveal .countdown .time {
    display: flex;
    font-size: 80px;
    line-height: 115px;
    font-family: Rammetto One;
    width: 520px;
    color: #fff;
    background-image: linear-gradient(90deg, #00d4ff, #697ff4 50%, #fa5c7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    background-clip: text;
    -moz-text-fill-color: transparent
}

#my-tokens {
    margin-top: 150px
}

#collection,
#my-tokens {
    position: relative;
    text-align: left
}

#collection .header,
#my-tokens .header {
    display: flex;
    justify-content: space-between;
    align-items: center
}

#collection h3,
#my-tokens h3 {
    margin-bottom: 80px
}

#collection .countdown .time,
#my-tokens .countdown .time {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: Rammetto One
}

#collection .countdown .time .days,
#my-tokens .countdown .time .days {
    margin-right: 10px;
    color: #fa5c7e
}

#collection .content,
#my-tokens .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

#collection .content .member,
#my-tokens .content .member {
    max-width: 333px;
    width: 100%;
    margin: 0 0 60px 0
}

#collection .content .member img,
#my-tokens .content .member img {
    border-radius: 22px
}

#collection .content .member:after,
#my-tokens .content .member:after {
    height: 130%
}

#collection {
    margin-top: 150px;
    margin-bottom: 300px;
    padding: 0 20px
}

#collection .header {
    margin-bottom: 80px
}

#title {
    display: block;
    max-width: 97%;
    height: auto;
    padding: 0 20px;
    margin-bottom: 60px
}

.grid-1c {
    width: 33.333%
}

.grid-2c {
    width: 66.666%
}

.grid-3c {
    width: 99.999%
}

.grid-4c {
    width: 133.332%
}

.iceberg1,
.iceberg3,
.iceberg4,
.icesmall1 {
    -webkit-animation: floating 10s infinite;
    animation: floating 10s infinite
}

.iceberg2,
.icesmall2 {
    -webkit-animation: floating-scaleX 10s infinite;
    animation: floating-scaleX 10s infinite
}

.wave1 {
    background-image: url(../images/site/wave.png);
    width: 397px;
    height: 168px;
    display: block;
    position: absolute;
    left: -280px;
    top: -80px;
    z-index: -1
}

.iceberg1 {
    top: -640px;
    right: -890px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.iceberg1,
.iceberg2 {
    width: 1070px;
    height: 1011px;
    position: absolute;
    background: url(../images/site/ice1.svg);
    background-repeat: no-repeat;
    z-index: -1
}

.iceberg2 {
    transform: scaleX(-1);
    top: -490px;
    left: -890px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.iceberg3 {
    height: 1011px;
    background: url(../images/site/ice1.svg);
    background-repeat: no-repeat;
    top: 500px;
    right: -1060px;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.iceberg3,
.iceberg4 {
    width: 1070px;
    position: absolute;
    z-index: -1
}

.iceberg4 {
    height: 650px;
    background: url(../images/site/ice2.svg);
    background-repeat: no-repeat;
    bottom: -130px;
    left: -690px;
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

.icesmall1 {
    top: -231px;
    right: -170px;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.icesmall1,
.icesmall2 {
    width: 140px;
    height: 116px;
    position: absolute;
    background: url(../images/site/icesmall.svg);
    background-repeat: no-repeat;
    z-index: -1
}

.icesmall2 {
    transform: scaleX(-1);
    bottom: -231px;
    left: -150px
}

#roadmap {
    padding: 0 50px;
    position: relative
}

#roadmap h2 {
    margin-left: 33.333%
}

#roadmap .stage {
    margin-top: 70px;
    display: flex
}

#roadmap .stage .title {
    padding-right: 40px;
    font-family: Rammetto One;
    font-size: 2rem;
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right
}

#roadmap .stage .title .sellout {
    flex-grow: 2;
    margin-right: 30px;
    line-height: 30px
}

#roadmap .stage .title .percent {
    color: #fa5c7e
}

#roadmap .stage .title .check {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
    transition: 1s
}

#roadmap .stage .title .check.hidden {
    visibility: hidden
}

#roadmap .stage .title .check:hover {
    transform: rotate(2turn)
}

#roadmap .stage .description {
    font-family: Lato;
    font-size: 2rem
}

#roadmap .stage .description .titlemobile {
    width: 100%;
    font-family: Rammetto One
}

#roadmap .stage .description .step {
    display: none;
    padding-right: 40px;
    font-family: Rammetto One;
    font-size: 2rem
}

#roadmap .stage .description .step .percent {
    color: #fa5c7e
}

#roadmap .line {
    background-color: #172d42;
    width: 36px;
    bottom: 0;
    display: block;
    position: absolute;
    top: -40px;
    left: calc(33.333% - 72px);
    z-index: -1
}

#roadmap .line .bg {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column
}

#roadmap .line .bg img {
    width: 100%
}

#roadmap .line .bg .bg-content {
    background-image: url(../images/site/roadmap-mask-c.png);
    background-size: contain;
    background-repeat: repeat-y;
    height: 100%
}

#roadmap .line .fill {
    background: linear-gradient(180deg, #513bff, #247efd 50%, #9ffccf);
    top: 0
}

#roadmap .line .fill,
#roadmap .line .mask {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: 1s
}

#roadmap .line .mask {
    background: #172d42
}

#team {
    margin-top: 300px;
    padding: 0 50px
}

#team h2 {
    text-align: center;
    margin-bottom: 80px
}

#team #teammembers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center
}

.member {
    text-decoration: none;
    color: #fff;
    flex: auto;
    margin: 0 30px;
    position: relative;
    width: 15%;
    min-width: 180px;
    max-width: 180px;
    outline: none;
    display: block
}

.member:after {
    content: "";
    background-image: url(../images/site/meltedice.svg);
    background-repeat: no-repeat;
    background-size: 99%;
    width: 108%;
    height: 85%;
    display: block;
    position: absolute;
    top: -8px;
    left: -8px
}

.member img {
    width: 100%;
    border-radius: 12px
}

.member .infos {
    padding: 40px 0 60px 0
}

.member .infos svg {
    width: 25px;
    height: 25px;
    margin-right: 20px
}

.member .infos .nickname {
    font-family: Rammetto One;
    font-size: 2rem;
    text-transform: uppercase
}

.member:hover {
    -webkit-animation: headShake;
    animation: headShake;
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

footer#footer {
    width: 100%;
    padding: 0 50px;
    max-width: 1318px;
    margin-top: 130px;
    display: block
}

footer#footer .social {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center
}

footer#footer .social a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #beedfd;
    color: #172d42;
    border-radius: 3px;
    text-align: center;
    margin-right: 15px;
    line-height: 35px;
    transition: filter .2s;
    transition: all .2s ease-in
}

footer#footer .social a:hover {
    background: #fff
}

footer#footer .contract {
    margin-left: auto;
    text-align: center;
    margin-top: 35px
}

footer#footer .contract a {
    color: #beedfd;
    transition: all .2s ease-in
}

footer#footer .contract a:hover {
    color: #fff
}

@media(min-height:850px) {
    #hero {
        padding: 120px 0 0
    }
}

@media(min-width:1450px) {
    #hero .right .mintleft {
        font-size: 3rem
    }
}

@media(max-width:1449px) {

    #hero .left p,
    #title {
        padding: 0 20px 0 50px
    }

    #hero .right {
        padding: 0 50px 0 0
    }

    #mint {
        padding: 0 0 0 30px
    }

    #container .wrapper {
        padding: 0 40px
    }
}

@media(max-width:1050px) {

    #hero .left p,
    #title {
        padding: 0 20px 0 50px
    }

    #hero .right {
        padding: 0 50px 0 0
    }

    #mint {
        padding: 0 0 0 30px
    }

    #roadmap h2,
    #team h2 {
        font-size: 7vw
    }

    #collection,
    #my-tokens {
        padding: 0 50px
    }

    #collection .header,
    #my-tokens .header {
        flex-wrap: wrap
    }

    #collection h2,
    #my-tokens h2 {
        font-size: 7vw;
        line-height: 8vw
    }

    #collection h3,
    #my-tokens h3 {
        text-align: center
    }

    #reveal .countdown .time {
        width: 100%;
        font-size: 50px
    }

    #reveal .left {
        justify-content: center;
        text-align: center
    }
}

@media(max-width:800px) {

    .iceberg1,
    .iceberg3,
    .icesmall1 {
        display: none
    }

    #hero {
        overflow-x: hidden;
        flex-direction: column;
        padding: 50px 0 0 0
    }

    #hero .left {
        order: 1
    }

    #hero .left #title {
        width: 100%;
        padding: 0
    }

    #hero .left p {
        padding: 0
    }

    #hero .right {
        margin-bottom: 100px
    }

    #hero .right .mintleft {
        font-size: 5vw
    }

    .grid-1c {
        width: 66.666%
    }

    .wave1 {
        left: -320px;
        top: -86px
    }

    #mint {
        flex-direction: column;
        width: 66.666%;
        margin: 70px auto 100px;
        padding: 0
    }

    #mint .right {
        order: -1;
        margin-bottom: 20px
    }

    #mint .right .howmany {
        margin-left: 0
    }

    #mint .right .howmany .progressbar {
        width: 200px
    }

    #roadmap {
        width: 66.666%;
        margin: 240px auto 100px;
        padding: 0
    }

    #roadmap .iceberg2 {
        left: -1080px
    }

    #roadmap .icesmall1 {
        top: -191px
    }

    #roadmap h2 {
        margin-left: 20%
    }

    #roadmap .stage .grid-1c {
        width: 0
    }

    #roadmap .stage .description {
        font-family: Lato;
        font-size: 2rem;
        margin-left: 70px;
        width: 100%
    }

    #roadmap .stage .description .step {
        display: none;
        padding-right: 40px;
        font-family: Rammetto One;
        font-size: 2rem
    }

    #roadmap .stage .description .step .percent {
        color: #fa5c7e
    }

    #roadmap .stage .description p {
        font-size: 1.6rem;
        line-height: 2.5rem
    }

    #roadmap .stage .title {
        margin-left: -10px;
        flex-grow: inherit
    }

    #roadmap .stage .title .sellout {
        display: none
    }

    #roadmap .stage .description .step {
        display: block;
        font-size: 1.5rem
    }

    #roadmap .stage .description .titlemobile {
        font-family: Rammetto One
    }

    #roadmap .line {
        left: 0
    }

    #roadmap .check {
        order: -1;
        left: 0
    }

    .iceberg4 {
        left: -890px
    }

    footer {
        margin-bottom: 100px
    }

    #reveal {
        flex-wrap: wrap
    }

    #reveal .countdown .time {
        color: #fff !important;
        background: transparent !important;
        background-clip: border-box !important;
        -webkit-background-clip: border-box !important;
        -webkit-text-fill-color: #fff !important;
        -moz-background-clip: border-box !important;
        -moz-text-fill-color: #fff !important
    }

    #collection .content,
    #collection .header,
    #my-tokens .content,
    #my-tokens .header {
        justify-content: center
    }

    #collection h2,
    #my-tokens h2 {
        text-align: center
    }
}

@media(max-width:600px) {
    #roadmap {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%
    }

    #roadmap h2 {
        margin-left: 20%
    }

    #roadmap .check {
        width: 45px;
        height: auto
    }

    #roadmap .line {
        left: 50px
    }

    #roadmap .stage .title {
        margin-left: -3px
    }

    #roadmap .stage .description {
        margin-left: 45px
    }

    .grid-1c,
    .grid-2c {
        width: 100%
    }

    #hero {
        padding-left: 50px;
        padding-right: 50px
    }

    #hero .right {
        padding: 0
    }

    #hero .right .mintleft {
        font-size: 7vw
    }

    #hero .right .waveright {
        position: absolute;
        background-image: url(../images/site/wave.svg);
        width: 200vw;
        height: 168px;
        left: -250px;
        bottom: 110px;
        z-index: -1
    }

    #mint {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px
    }

    #mint .right .howmany {
        flex-grow: 2
    }

    #mint .right .howmany .progressbar {
        width: 100%
    }

    .iceberg3,
    .iceberg4,
    .icesmall2 {
        display: none
    }

    #reveal .countdown .time {
        width: 100%;
        font-size: 30px
    }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: middle
}

[hidden],
audio:not([controls]),
template {
    display: none;
    height: 0
}

* {
    padding: 0;
    margin: 0;
    font-size: inherit;
    line-height: inherit
}

*,
:after,
:before {
    box-sizing: inherit
}

:after,
:before {
    vertical-align: inherit;
    text-decoration: inherit
}

:root {
    box-sizing: border-box;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent
}

a {
    background-color: transparent
}

a:focus {
    outline: thin dotted
}

a:active,
a:hover {
    outline: 0
}

iframe,
img,
svg {
    vertical-align: middle
}

embed,
iframe,
object {
    max-width: 100%
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: inherit
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    margin: 1em 0
}

nav ol,
nav ul {
    list-style: none
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}

svg:not(:root) {
    overflow: hidden
}

fieldset,
legend {
    border: 0
}

legend {
    white-space: normal;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0
}

select {
    cursor: pointer
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000
}

button[disabled],
input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

button,
input,
select,
textarea {
    vertical-align: baseline;
    font: inherit;
    background: none;
    border-radius: 0;
    margin: 0
}

button,
input,
select {
    overflow: visible
}

input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type=checkbox],
input[type=radio] {
    cursor: pointer;
    padding: 0
}

input[type=checkbox] {
    -moz-appearance: checkbox;
    -webkit-appearance: checkbox
}

input[type=radio] {
    -moz-appearance: radio;
    -webkit-appearance: radio
}

input[type=number] {
    width: auto
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    cursor: pointer
}

textarea {
    vertical-align: top;
    overflow: auto;
    resize: vertical;
    -moz-appearance: none;
    -webkit-appearance: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed
}

progress {
    display: inline-block;
    vertical-align: baseline
}

menu {
    margin: 1em 0;
    padding: 0 0 0 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

sup {
    position: relative;
    top: -.5em;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}