@media (max-width: 1500px) {
    .user-nav li a{padding: 4px 8px;}nav ul li a{padding: 10px;}
}
@media (max-width: 1199px) {
    a.responsive-menu{display: flex;}
    .user-nav{display: none;}
    .user-nav li{display: block;}
}
@media (max-width: 991px) {}
@media (max-width: 767px) {}
@media (max-width: 575px) {}