@media (max-width: 1700px) {

    .hero-area h1 {
        margin-top: 100px;
        font-size: 5.7em;
        line-height: 100%;
    }

    .hero-area h2 {
        font-size: 1.7em;
    }

}

@media (max-width: 1400px) {
    .hero-area h1 {
        margin-top: 150px;
        font-size: 4.6em;
    }
}

@media (max-width: 1199px) {
    .hero-area h1 {
        font-size: 4em;
    }

    .hero-area h2 {
        font-size: 1.4em;
    }




    .why-choose-us .col-xl-4 {
        border-left: 4px solid #f4f4f4 !important;
        border-right: 4px solid #f4f4f4 !important;
    }

    .how-works {
        height: 100%;
    }

    .how-works-content {
        padding: 50px 30px;
    }


}

@media (max-width: 991px) {
    .tag-line h3 {
        text-align: center;
    }

    .how-works-bg {
        height: 350px;
    }

    .how-works-content {
        padding: 50px 0px;
    }

    .how-works-content a {
        margin: 40px auto 0;
        display: table;
    }

    .single-qualify-item {
        margin-bottom: 30px;
    }

    .purpose h3 {
        font-size: 42px;
        line-height: 110%;
    }

    .about-2 .about-img,
    .about-3 .about-img {
        display: none;
    }
}

@media (max-width: 767px) {
    .hero-area {
        height: 50vh;
        margin-top: 90px;
    }

    .hero-area h1 {
        margin-top: 0;
    }

    a.responsive-menu {
        display: block;
        color: #9EA0A4;
        font-size: 20px;
    }

    header .container {
        padding: 0;
    }

    header nav {
        display: none;
    }

    header nav ul {
        display: block;
    }

    header nav ul li {
        margin: 0;
        height: auto;
        border-top: 1px solid #E2E2E2;
        padding-top: 0;
    }

    header nav ul li:after {
        display: none;
    }

    header nav ul li.active a,
    header nav ul li:hover a {
        color: #000;
        background-color: #F9F9FB !important;
    }

    header nav ul li.boxed-btn a {
        background-color: #fff;
        color: #000 !important;
        font-weight: 300;
    }

    header nav ul li a {
        padding: 10px 30px !important;
        font-size: 12px;
        text-align: left;
        width: 100%;
    }

    .logo-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
    }

    .hero-area h1 {
        font-size: 3em;
    }

    .hero-area h2 {
        font-size: 1em;
        margin-bottom: 40px;
    }

    .tag-line-large h3 {
        padding: 60px 20px;
    }

    .section-header {
        font-size: 40px;
    }

    .contact-box {
        height: 100%;
        top: 0;
        padding: 40px 15px;
    }

    .contact-bg {
        height: 100%;
        padding: 80px 20px;
        margin-top: 0;
    }

    .contact-box .row,
    .contact-box .col-lg-6 {
        height: auto;
    }
}

@media (max-width: 575px) {
    .hero-area {
        text-align: center;
        padding: 40px 0;
        height: 100%;
    }

    .hero-area span {
        display: block;
    }

    .hero-area h1 {
        font-size: 3em !important;
        line-height: 1.5;
    }

    .hero-area h2 {
        font-size: 2em !important;
    }

    .why-choose-us h1 {
        font-size: 50px;
    }

    .how-works-content {
        padding: 50px 30px;
        text-align: center;
    }

    .qualify h1 {
        font-size: 40px;
    }

    .testimonial-slider p {
        margin: 0 30px 40px;
    }

    .contact form {
        padding: 60px 30px;
        margin: 50px 0;
    }

    .contact .container {
        padding: 0;
    }

    .hero-area {
        padding: 80px 0;
    }

    .purpose h3 {
        font-size: 36px;
        line-height: 100%;
        text-align: center;
    }

    .purpose h6 {
        font-size: 20px;
        line-height: 100%;
        text-align: center;
    }

    .slogan h4,
    .about-us p {
        text-align: center;
    }

    .one-line-section h2 {
        font-size: 26px;
        padding: 0 20px;
    }

    .contact-form-box {
        padding: 50px 15px;
    }

    .contact-bg {
        padding: 80px 10px;
    }
}