@media (max-width: 1600px) {
    .star-video-slider .owl-stage {
        left: 0px !important;
    }

    .star-video-slider .video-slider,
    .star-video-slider .text-slider {
        float: right;
    }

    .keypoint-wrapper,
    .cameo-tip {
        height: 100%;
    }

    .about-cameo .col-lg-6 {
        margin-bottom: 15px;
    }
}

@media (max-width: 1350px) {
    .sort-result a {
        width: calc(25% - 30px);
    }

    .sort-result a.fill-page {
        width: calc(20% - 30px);
    }

}

@media (max-width: 1199px) {
    .categories ul li {
        width: 24.5%;
    }

    #review .modal-dialog,
    #learnmore .modal-dialog,
    #gotit .modal-dialog,
    #joinfanclub .modal-dialog {
        max-width: 600px;
    }

    .sort-result a {
        width: calc(33.333% - 30px);
    }

    .sort-result a.fill-page {
        width: calc(25% - 30px);
    }
}

@media (max-width: 991px) {
    .video-banner h1 {
        font-size: 28px;
    }

    .page-links {
        margin: 30px 0;
    }

    .page-links a {
        padding: 10px 0 !important;
        display: block;
    }

    footer .socials {
        margin-bottom: 30px;
    }

    .categories ul li {
        width: 32.5%;
    }

    .star-video-slider .video-slider,
    .star-video-slider .text-slider {
        height: 450px;
        width: 100%;
    }

    .star-video-slider .video-slider video {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sort-result a {
        width: calc(50% - 30px);
    }

    .sort-result a.fill-page {
        width: calc(33.333% - 30px);
    }
}

@media (max-width: 767px) {
    .category {
        display: none;
    }

    .right-nav {
        margin-left: 30px;
    }

    nav .right-nav .search {
        width: 100%;
    }

    .single-call {
        height: 100%;
    }

    .single-features {
        margin-bottom: 40px;
    }

    .single-call .call-thumbnail {
        flex: 0 0 85px;
    }

    .single-call .call-top h5 {
        font-size: 14px;
    }

    .single-call h6 {
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 5px;
    }

    .mobile-buy {
        display: block;
    }

    .web-buy {
        display: none;
    }

    .single-call .call-thumbnail img {
        height: 100%;
    }

    .categories ul li {
        width: 49%;
    }

    .star-video-slider {
        margin-bottom: 40px;
    }

    .star-video-slider .video-slider,
    .star-video-slider .text-slider {
        height: 300px;
        width: 200px;
        float: none;
    }

    .breadcrumbs {
        display: none;
    }

    .star-top-bar {
        justify-content: flex-end;
    }

    #review .modal-dialog,
    #learnmore .modal-dialog,
    #gotit .modal-dialog,
    #joinfanclub .modal-dialog {
        width: 100%;
    }

    #review .modal-content,
    #learnmore .modal-content,
    #gotit .modal-content,
    #joinfanclub .modal-content {
        width: 100%;
    }

    .sort-sidebar {
        margin-right: 0px;
        max-width: 100%;
        flex: 0 0 100%;
        position: absolute;
        height: calc(100% - 160px);
        overflow-y: scroll;
        z-index: 99;
        background: #101010;
        left: -300px;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        padding: 0 40px;
        width: 50%;
    }

    .sort-sidebar.sidebar-show {
        position: fixed;
        z-index: 99;
        background: #101010;
        left: 0px;
        opacity: 1;
        visibility: visible;
        padding-bottom: 40px;
    }

    .sort-page {
        justify-content: end;
    }

    .sort-result {
        width: 50%;
    }

    .sort-result a.single-stars-slider {
        width: 100%;
    }

    .sort-result a.single-stars-slider.fill-page {
        width: calc(50% - 50px);
    }

    .bookcameo button.submit {
        width: 100%;
    }

    .bookcameo label {
        margin-top: 40px;
    }

    .bookcameo textarea {
        height: 130px;
    }

    /* .bookcameo{min-width: 480px} */
}

@media (max-width: 575px) {
    h2 {
        font-size: 1.5rem;
    }

    .search-thumbnail {
        flex: 0 0 50px;
    }

    .single-search {
        position: relative;
    }

    .search-results .search-item-details span {
        white-space: nowrap;
        position: absolute;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        width: calc(100% - 90px);
    }

    .mobile-video {
        display: block;
    }

    .web-video {
        display: none;
    }

    .owl-nav,
    .call-slider .owl-nav {
        display: none !important;
    }

    .slider-header-right a {
        margin-right: 0;
    }

    .single-stars-slider {
        width: 100%;
    }

    .single-stars-slider .star-details p,
    .single-stars-slider .star-details .price {
        width: 100%;
    }

    .single-stars-slider .star-thumbnail {
        width: 100%;
        height: 180px;
    }

    .video-slider .single-video-slider {
        height: 280px;
    }

    .call-slider .owl-stage {
        left: 0 !important;
    }

    footer h6 {
        font-size: 16px;
        font-weight: 300;
    }

    .categories ul li {
        width: 100%;
    }

    .modal-content a {
        padding: 10px !important;
        font-size: 16px !important;
    }

    .star-modal h2 {
        font-size: 22px;
    }

    .review-modal .modal-content {
        padding: 70px 10px 70px 70px;
    }

    .sort-page {
        display: block !important;
    }

    .sort-sidebar.sidebar-show,
    .sort-sidebar {
        position: static;
    }

    .sort-sidebar,
    .sort-result {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .sort-result a.single-stars-slider {
        width: calc(50% - 30px);
        margin: 0 15px !important;
    }

    .actor-header.d-flex.align-items-center.justify-content-between {
        display: block !important;
        margin-bottom: 30px;
    }

    .sort-result a.single-stars-slider.fill-page {
        width: calc(50% - 30px) !important;
    }

    /* .sort-result a.single-stars-slider */
}

@media (max-width: 475px) {

    .star-video-slider .video-slider,
    .star-video-slider .text-slider {
        height: 250px;
        width: 150px;
    }

    .star-video-slider .text-slider .text-wrapper {
        width: 100%;
        padding: 10px
    }

    .star-video-slider .text-slider h5 {
        font-size: 18px;
    }

    .star-video-slider .text-slider h6 {
        font-size: 15px;
    }

    .single-wide-review {
        display: block;
    }

    .single-wide-review .reviewer-details {
        text-align: center;
    }

    .single-wide-review ul {
        text-align: center;
    }

    .reviewer-details .review-thumbnail {
        margin: auto;
        margin-bottom: 10px;
    }
}