/* Common Styles
================*/
/* fonts  */
@font-face {
    font-family: "helveticaobl-heavy";
    src: url("../webfonts/helveticaobl-heavy.woff") format("woff")
}

@font-face {
    font-family: "helvetica-narrow-bold";
    src: url("../webfonts/helvetica-narrow-bold.woff") format("woff")
}

/* default style */
body {
    font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #16171B;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 26px;
}

h6 {
    font-size: 24px;
}

a,
a:hover,
a:focus,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}

.container {
    max-width: 1500px;
}


/* header section 
================== */
/* header
--------- */
header {
    background-color: #131418;
    padding: 23px 5px;
}

/* logo */
header h1 {
    margin-bottom: 0;
    margin-right: 50px;
}

/* navigation */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: #fff !important;
}

nav ul li a {
    padding: 10px 14px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

nav li a:hover {
    color: #EFB90B !important;
}


/* user navigation */

.user-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-nav li {
    display: inline-block;
    position: relative;
}

.user-nav li a {
    display: flex;
    align-items: center;
    color: #6E6E79 !important;
    padding: 4px 18px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.user-nav a:hover {
    color: #fff !important;
}

.user-nav li a.bordered-btn {
    color: #EFB90B !important;
    border: 1px solid #EFB90B;
    margin: 0 18px;
}

.user-nav li a i,
.user-nav li a img {
    margin-left: 5px;
}

.user-nav li ul {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #131418;
    padding-bottom: 10px;
}

.user-nav a {
    padding: 5px 20px;
    display: block;
    font-size: 13px;
}


/*  responsive menu*/
a.responsive-menu {
    display: none;
    font-size: 24px;
    color: #fff;
    margin-right: 15px;
    text-align: right;
    height: 54px;

    align-items: center;
    justify-content: flex-end;
}

.responsive-sidebar {
    position: fixed;
    right: -300px;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: #131418;
    z-index: 999;
    padding: 20px 30px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;opacity: 0.5;
}

.responsive-sidebar.active {
    right: 0;
}

.responsive-sidebar>a {
    font-size: 26px;
    color: #fff;
    text-align: right;
    display: block;
}

.responsive-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.responsive-sidebar ul a {
    color: #6E6E79 !important;
    padding: 5px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.responsive-sidebar ul a:hover {
    color: #fff !important;
}
.responsive-sidebar ul ul{margin-left: 15px;display: none;}
.responsive-sidebar ul a {
    display: flex;
    align-items: center;
}

.responsive-sidebar li a i,
.responsive-sidebar li a img {
    margin-left: 5px;
}

/* slider section
================= */
.main-slider {
    background-color: #0F1013;
    color: #fff;
    padding: 170px 0;
}

.single-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-text h5 {
    color: #EFB90B;
    letter-spacing: 5px;
    font-weight: 400;
    text-transform: uppercase;
}

.slider-text h1 {
    color: #FFFFFF;
    letter-spacing: 5.28px;
    line-height: 72px;
    font-weight: 400;
    font-family: "helveticaobl-heavy", Helvetica, Arial, sans-serif;
    margin: 30px 0 45px;
}

.slider-text h6 {
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 2.29px;
    font-weight: 400;
}

/* slider navigate bar*/
.owl-dots div {
    display: inline-block;
    height: 2px;
    width: 50px;
    background: #30323C;
    margin: -140px -2px;
}

.owl-dots div.active {
    background-color: #EFB90B;
}

.owl-dots {
    text-align: center;
}

/* crypto slider section
====================== */
.crypto-slider {
    padding: 60px 0 0;
}

.single-crypto-slider {
    background: #1E1F25;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
    display: block;
    padding: 25px;
    margin-bottom: 10px;
}

.single-crypto-slider:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/09.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 110px;

}

.single-crypto-slider:hover {
    background-image: linear-gradient(180deg, #34353F 0%, #1F2128 100%);

}

/* crypto top part */
.crypto-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.crypto-top h6 {
    color: #fff;
    margin-bottom: 0;
    font-family: helvetica-narrow-bold;
    font-size: 20px;
}

.crypto-top span {
    color: #fff;
    background: #13B887;
    border-radius: 8px;
    padding: 2px 6px;
}

/* crypto price part */
.crypto-price {
    margin-top: 25px;
    margin-bottom: 45px;
}

.crypto-price h4 {
    color: #EFB90B;
}

/* crypto bottom part */
.crypto-bottom p {
    color: #fff;
    margin-bottom: 0;
}

/* crypto slider button */
.crypto .owl-nav div {
    position: absolute;
    bottom: calc(50% - 20px);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 35px;
    background: #1E1F25;
    text-align: center;
    color: #fff;
    font-size: 20px;
    left: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crypto .owl-nav .owl-next {
    left: auto;
    right: -5%;
}

.crypto .owl-nav .owl-next img {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

/* why section
=============== */

.why {
    padding: 200px 0 180px;
    text-align: center;
    color: #fff;
}

/* why-heading */
.why-heading h2 {
    font-weight: 400;
    margin-bottom: 30px;
}

.why-heading h6 {
    font-size: 20px;
    color: #6E6E79;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 60px;
}

/* single why box */
.single-why-box {
    padding: 20px 35px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.single-why-box:hover {
    background-color: #1E1F25;
    box-shadow: 0px -9px 10px 0px rgba(15, 16, 19, 0.2);
    border-radius: 7px;
}

.single-why-box img {
    width: 55px;
    margin: 0 auto 20px;
}

.single-why-box h6 {
    margin-bottom: 45px;
    font-weight: 400;
}

.single-why-box p {
    font-size: 14px;
    color: #6E6E79;
    font-weight: 700;
}

/* Token section
=============== */
.token {
    text-align: center;
    padding: 70px 0;
    background-image: url(../img/04@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.token h4 {
    color: #fff;
    margin-bottom: 30px;
}

.token h4 span {
    color: #EFB90B;
}

.token p {
    font-size: 14px;
    color: #6E6E79;
    font-weight: 700;
    margin-bottom: 0;
}

/* community- reward
====================== */
.community-reward {
    padding: 200px 0;
}

.community-content {
    max-width: 440px;
    margin: auto;
    padding: 20px;
}

.community-content h4 {
    font-weight: 400;
    color: #fff;
}

.community-content p {
    font-size: 16px;
    color: #6E6E79;
    font-weight: 400;
    line-height: 115%;
    margin-bottom: 0;
}

.community-reward img {
    height: 380px;
    margin: auto;
}

/* Motto section
=============== */
.motto {
    text-align: center;
    padding: 85px 0;
    background-image: url(../img/04@3x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.motto h4 {
    color: #fff;
    font-size: 25px;
    max-width: 520px;
    margin: auto;
    line-height: 2.2;
}

.motto h4 a {
    color: #EFB90B;
}

/* App section
=============== */
.app {
    padding: 160px 0;
}

.app img {
    max-height: 760px;
}

.app .app-content {
    margin-left: 80px;
    max-width: 520px;
    color: #fff;
}


.app .app-content h4 {
    margin-bottom: 30px;
}

.app .app-content h6 {
    font-size: 16px;
    color: #6E6E79;
    margin-bottom: 30px;
}

.app .app-content a {
    display: inline-block;
}

/* get in touch
=============== */

.get-in-touch {
    padding: 0px 0 180px;
}

.get-in-touch .why-heading {
    margin-bottom: 80px;
}

.get-in-touch .single-why-box {
    text-align: left;
}

.get-in-touch .single-why-box:hover {
    background: #16171B;
    box-shadow: 0 0 0 transparent;
}

.get-in-touch img {
    margin: 0 0 20px;
}

/* footer  
==========*/

footer {
    background-color: #030204;
    padding: 55px 0;
}

footer h6 {
    font-size: 16px;
    color: #EDF4F8;
    font-weight: 400;
    height: 40px;
    margin-bottom: 0;
}

footer a {
    font-size: 12px;
    color: #979797;
    line-height: 26px;
    font-weight: 400;
    display: block;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

footer a:hover {
    color: #F5D016;
}

footer p {
    margin-bottom: 0;
    font-size: 12px;
    color: #EDF4F8;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}