/* Font Styles */

@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/Montserrat-Black.woff') format('woff'), 
  url('../fonts/Montserrat-Black.ttf')  format('truetype'), 
  url('../fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/Montserrat-Bold.woff') format('woff'), 
  url('../fonts/Montserrat-Bold.ttf')  format('truetype'), 
  url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/Montserrat-Light.woff') format('woff'), 
  url('../fonts/Montserrat-Light.ttf')  format('truetype'), 
  url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/Montserrat-Regular.woff') format('woff'), 
  url('../fonts/Montserrat-Regular.ttf')  format('truetype'), 
  url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*====== DEFAULT STYLES ======*/
body {
	font-family: 'Montserrat-Regular';
	font-size: 15px;
	overflow-x: hidden;
}
img {
	max-width: 100%;
	height: auto;
}

/*====== HEADER STYLES ======*/
#header {
	background: url(../img/banner-bg.jpg) 0% 0% no-repeat;
	background-size: cover;
	min-height: 750px;
	min-height: 650px;
	margin: 0;
	padding: 0;
}
.header-inner-after {
	height: 137px;
}
#header.nav-fixed .header-home, 
#header.nav-fixed.header-inner {
	background: rgba(255,255,255,0.75);
	background: #072f5c;
	background: rgba(7,47,92,0.76);
	padding-bottom: 20px;
	opacity: 1;
	transition: 0.3s all;
	padding-bottom: 10px;
}
#header ul {
	margin-top: 20px;
}
#header li {
	margin-left: 30px;
}
#header li a {
	color: #FFF;
	font-size: 15px;
	position: relative;
	display: inline-block;
}
#header li a::after {
	content: " ";
	position: absolute;
	bottom: -5px;
	left: 7px;
	background: #f7941d;
	width: 70%;
	height: 4px;
	display: none;
}
#header li a.active {
	color: #f7941d;
}
#header li a.active::after {
	display: block;
}
#header li a:hover::after {
	display: block;
}
#header li a:hover {
	color: #f7941d;
}

#logo {
	margin-top: 30px;
}
#header h1 {
	text-align: center;
	color: #FFF;
	font-size: 110px;
	line-height: 0.85;
	font-family: 'Montserrat-Black';
	text-transform: uppercase;
	font-size: 90px;
	margin-top: 20px;
}
#header h1 span {
	font-size: 47px;
}
#header .navbar-toggler {
	color: #FFF;
	font-size: 30px;
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 37px;
}
#header.header-inner {
	min-height: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background: rgba(255,255,255,0.75);
	background: #072f5c;
	padding-bottom: 20px;
	opacity: 1;
	transition: 0.3s all;
}
#header.nav-fixed.header-inner {
	position: fixed;
	opacity: 1;
	transition: 0.3s all;
}
#header.nav-fixed .header-home
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	padding-bottom: 20px;
	opacity: 1;
	transition: 0.3s all;
}
#header.nav-fixed.header-index{
	margin-top: -33px;
	padding-top: 150px;
}

#header .container {
	position: relative;
}
.language-selector {
	float: right;
	position: relative;
	top: 12px;
	position: absolute;
	right: 0;
	z-index: 100;
	color: #f7941d;
}
.language-selector a {
	color: #f7941d;
}
.language-selector span {
	color: #FFF;
}


#header.nav-fixed .header-home #logo, 
#header.nav-fixed.header-inner #logo
{
	margin-top: 5px;
	position: relative;
	top: 5px;
}

strong {
	 font-family: 'Montserrat-Bold';
}


/*----- Responsive Styles -----*/
@media screen and (max-width: 991px) {
	#header {
		padding-bottom: 30px;
		min-height: 500px;
	}
	#header h1 {
		font-size: 50px;
		line-height: 1;
	}
	#header h1 span {
		font-size: 30px;
	}
	#header li {
		margin-left: 0;
	}
	#header ul li a {
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#header li a:after {
		left: 0;
		width: 100%;
	}
}
@media screen and (max-width: 991px) {
	.language-selector {
		padding-right: 15px;
	}
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
	#header li a {
		font-size: 13px;
		padding-left: 0;
		padding-right: 0;
	}
}

/*====== SLIDER STYLES ======*/
button.slick-prev {
    position: absolute!important;
    top: 41%!important;
    left: -40px!important;
    z-index: 1!important;
    width: 18px!important;
    height: 30px!important;
    background: url(../img/arrow-left.png) top center no-repeat!important;
	opacity: 1!important;
}
button.slick-next {
    position: absolute!important;
	right: -40px!important;
    z-index: 1!important;
    width: 18px!important;
    height: 30px!important;
    background: url(../img/arrow-right.png) top center no-repeat!important;
	opacity: 1!important;
}
button.slick-prev:hover, button.slick-next:hover {
	opacity: 0.7!important;
}
.slider-item {
	padding: 30px;
	border: 2px solid #a7a9ac;
	margin-bottom: 20px;
}
.slick-current + .slick-slide .slider-item {
	border-color: #f7941d;
	box-shadow: 0px 15px 15px 2px #adaeb0;
}
.slick-slide {
	margin: 0 15px;
}
.slider-item img {
	display: block;
	margin: auto;
	width: auto!important;
	height: auto!important;
}
.slider-item .img-3b {
	position: relative;
	top: 15px;
}
.slider-item .img-sl2 {
	position: relative;
	top: 5px;
}
.slider-item .img-sl4 {
	position: relative;
	top: 10px;
}
.s-img-container {
	height: 200px!important;
}
.slider-item h3 {
	font-style: italic;
	color: #002250;
	font-size: 28px;
	font-family: "Montserrat-Black";
	text-transform: uppercase;
}
.slider-item h3 span {
	display: inline-block;
	font-size: 22px;
	position: relative;
	top: -9px;
}
.slider-item h3 i {
	font-size: 10px;
	border: 1px solid #002250;
	padding: 2px 4px;
	display: inline-block;
	/*transform: rotate(-2deg);*/
	position: relative;
	top: -4px;
	top: -15px;
	left: 7px;	
	top: -13px;
	left: 7px;
	padding: 2px 6px 2px 4px;
}
.slider-item img {
	display: block;
	margin: auto;
}
.slider-item p {
	font-size: 13px;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-top: 0px;
}
a.btn-orange {
	background: #f7941d;
	color: #FFF!important;
	border-radius: 4px;
}
@media screen and (max-width: 1199px) {
	button.slick-prev {
		left: -15px!important;
	}
	button.slick-next {
		right: -15px!important;
	}
}





/*Slider*/
.slider-vessel > div {
  display:block;   
  padding: 0;
  margin: 0;
  background: transparent;
}
.slider-vessel div img {
	width: 100%;
	margin: 0;
	padding: 0;
}
.slider-vessel .slick-slide {
	margin: 0;
}
.slider-vessel .slick-dots {
	bottom: 25px;
	z-index: 9999;
	bottom: -42px;
}
.slider-vessel .slick-dots button {
	width: 9px;
	height: 9px;
	background: #FFF;
	background: transparent;
	border-radius: 50%;
	border: 1px solid #000;
}
.slider-vessel .slick-active button {
	background: #f7941d;
}


/* Navigation */
.slider-nav { text-align: center; }
.slider-nav .slide-icon{
  display:inline-block;
  
  margin: 0 5px; 
  padding: 3px 0;
  text-align: center; 
  font-size:2em;
  cursor: pointer;
  
  padding: 0;
  margin: 0;
}

.slide-nav-content {
	width: 100%;
	overflow: hidden;
}
.slide-nav-content .slide-icon {
	width: 20%;
	float: left;
}
.slider-vessel div img {
	max-height: 1000px;
}


/*====== MAIN STYLES ======*/
#main {
	clear: both;
}

.features-list {
	border-bottom: 1px solid #072f5c;
	overflow: hidden;
}
.features-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.f-img-container {
	min-height: 70px;
}
.features-list li {
	float: left;
	width: 25%;
	text-align: center;
	border-left: 1px solid #072f5c;
	min-height: 302px;
	padding-top: 63px;
}
.features-list li:last-child {
	border-right: 1px solid #072f5c;
}
.features-list li img {
	display: block;
	margin: auto;
}
.features-list li h3 {
	text-transform: uppercase;
	margin: 22px 0 10px ;
	color: #072f5c;
	font-family: 'Montserrat-Bold';
	font-size: 20px;
}
.features-list li p {
	width: 188px;
	max-width: 100%;
	margin: auto;
}

.section2 {
	background: url(../img/section2-bg.jpg) top center no-repeat;
	background-size: cover;
	min-height: 800px;
	padding-bottom: 30px;
}
.section2-box {
	width: 352px;
	max-width: 100%;
	margin: auto;
	margin-top: 205px;
}
.section2 h2 {
	font-size: 50px;
	font-family: 'Montserrat-Black';
	margin: 0;
	line-height: 1;
	color: #FFF;
	padding-bottom: 22px;
}
.section2 p {
	font-size: 14px;
	color: #FFF;
	margin-top: 23px;
}
a.btn, button.btn {
	text-decoration: none;
	font-size: 13px;
	display: block;
	width: 126px;
	border: 2px solid transparent;
	border-radius: 3px;
	padding: 6px 8px;
	font-family: 'Montserrat-Bold';
	background': transparent;
}
a.btn:hover,button.btn:hover {
	opacity: 0.85;
}
a.btn-yellow,button.btn-yellow {
	border-color: #f7941d;
	color: #f7941d!important;
}
a.btn-blue {
	color: #072f5c;
	border-color: #072f5c!important;
}
a.btn-white {
	border-color: #FFF;
	color: #FFF!important;
}
a.btn-orange:hover {
	opacity: 1;
}
a.btn .btn-icon, button.btn .btn-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 8px;
}
.btn-yellow .btn-icon {
	background: url(../img/icon-a-yellow.png) top center no-repeat;
}
.btn-blue .btn-icon {
	background: url(../img/icon-a-blue.png) top center no-repeat;
}
.btn-white .btn-icon {
	background: url(../img/icon-a-white.png) top center no-repeat;
}

.btn-yellow:hover {
	border-color: #FFF;
	color: #FFF!important;
	background: #f7941d;
}
.btn-yellow:hover .btn-icon {
	background: url(../img/icon-a-white.png) top center no-repeat;
}
.btn-blue:hover {
	border-color: #FFF;
	color: #FFF!important;
	background: #072f5c;
}
.btn-blue:hover .btn-icon {
	background: url(../img/icon-a-white.png) top center no-repeat;
}
.btn-white:hover {
	border-color: #072f5c;
	color: #072f5c!important;
	background: #FFF;
}
.btn-white:hover .btn-icon {
	background: url(../img/icon-a-blue.png) top center no-repeat;
}

.section3 {
	background: url(../img/section3-bg.jpg) top center no-repeat;
	background-size: cover;
	min-height: 800px;
	padding: 90px 0;
}
.section3 h2 {
	width: 325px;
	max-width: 100%;
	text-transform: uppercase;
	font-size: 50px;
	color: #072f5c;
	font-family: 'Montserrat-Black';
	margin: 0;
	line-height: 1;
}
.box-services {
	background: rgba(255,255,255,0.75);
	width: 512px;
	max-width: 100%;
	border-top: 10px solid #f7941d;
	margin-bottom: 27px;
	padding: 45px;
}
.box-services h3 {
	text-transform: uppercase;
	margin: 0;
	font-size: 24px;
	color: #072f5c;
	font-family: 'Montserrat-Bold';
}
.box-services p {
	margin-top: 22px;
}

.section-principle {
	position: relative;
	clear: both;
	margin-top: 35px;
}
.section-principle h2 {
	margin-top: 140px;
	text-transform: uppercase;
	font-size: 46px;
	color: #072f5c;
	font-family: 'Montserrat-Black';
	line-height: 1;
	padding-bottom: 5px;
}
.section-principle h2 span {
	font-size: 30px;
	display: block;
}
.section-principle p {
	margin-top: 15px;
	font-size: 14px;
}
.vessel1-bg {
	position: relative;
	right: -100px;
}
.blue-gradient {
	position: absolute;
	left: 0;
	z-index: 10;
	bottom: -46px;
}
.section-principle a.btn {
	position: relative;
	z-index: 40;
}


.section1 {
	clear: both;
	margin-top: 60px;
	background: url(../img/section1-bg.jpg) top center no-repeat;
	background-size: cover;
	min-height: 920px;
	color: #FFF;
}
.section1 h2 {
	width: 325px;
	max-width: 100%;
	text-transform: uppercase;
	font-size: 50px;
	font-family: 'Montserrat-Black';
	margin: 0;
	line-height: 1;
	padding-top: 105px;
}
.section1 h2 span {
	font-family: 'Montserrat-Bold';
	font-size: 35px;
	display: block;
}
.section1 a.btn {
	float: right;
	margin-top: 500px;
}

.our-vessels h2 {
	text-transform: uppercase;
	font-size: 50px;
	font-family: 'Montserrat-Black';
	margin: 0;
	line-height: 1;
	padding-top: 15px;
	text-align: center;
	color: #072f5c;
	margin-bottom: 70px;
}

.banner {
	clear: both;
	position: relative;
}
.banner-about {
	background: url(../img/banner-about.jpg) top center no-repeat;
	background-size: cover;
	min-height: 940px;
}
.breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 30px;
}
.breadcrumbs li {
	display: inline;
	font-size: 13px;
	color: #072f5c;
	font-family: 'Montserrat-Bold';
}
.breadcrumbs li i {
	display: inline-block;
	padding-left: 2px;
	padding-right: 2px;
}
.breadcrumbs li a {
	color: #072f5c!important;
}
.breadcrumbs li span {
	color: #f7941d;
}
.banner h1 {
	font-family: 'Montserrat-Black';
	text-transform: uppercase;
	color: #072f5c;
	font-size: 50px;
	margin-top: 94px;
}

.about-vessels {
	padding: 100px 0;
}
.about-vessels p {
	margin-top: 22px;
}
.about-vessels p strong {
	font-family: 'Montserrat-Bold';
}
.about-vessels img {
	display: block;
	margin: auto;
	padding-top: 155px;
}

.our-partner {
	clear: both;
	color: #FFF;
	text-align: center;
	background: url(../img/ourpartner-bg.jpg) top center no-repeat;
	background-size: cover;
}
.our-partner h2 {
	font-family: 'Montserrat-Black';
	text-transform: uppercase;
	color: #FFF;
	font-size: 50px;
	margin: 0;
	padding: 260px 0;
	line-height: 1;
}
.our-partner-content {
	padding: 80px 0;
}
.our-partner-content img {
	display: block;
	margin: auto;
	margin-bottom: 45px;
}
.our-partner-content p {
	color: #000000;
	margin-top: 20px;
}


/*Specifics*/

.banner-specifics{
	min-height: 400px;
}
.banner-specifics h1 span {
	display: block;
	font-size: 34px;
	font-family: 'Montserrat-Bold';
	margin-top: -8px;
}

.bg-gray {
	background: #f1f2f2;
}
.specifics-box {
	padding: 160px 0;
}
.specifics-box img {
	float: right;
	padding-left: 10px;
}
.specifics-box .order-last img {
	float: left;
	padding-right: 10px;
}
.specifics-box h3 {
	text-transform: uppercase;
	font-family: 'Montserrat-Black';
	font-size: 35px;
	color: #072f5c;
	margin-bottom: 22px;
}
.specifics-box h3 span {
	color: #f7941d;
	display: block;
	margin-top: -4px;
}
.specifics-box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.specifics-box ul li{
	background: url(../img/icon-a-blue.png) no-repeat top left;
	padding-left: 26px;
	margin-bottom: 6px;
}

.specifics-box .container {
	position: relative;
}
.sb-img1 {
	position: absolute;
	margin-top: -480px;
	right: 0;
}
.sb-box1 {
	padding-bottom: 200px;
}
.sb-img2 {
	margin-top: -100px;
}
.sb-img3 {
	margin-top: -100px;
}
.sb-box3 ul {
	padding-right: 50px;
}
.sb-img4 {
	margin-top: -60px;
	padding-right: 15px;
}
.sb-img5 {
	padding-left: 20px;
	margin-top: -110px;
}

/*Contact*/
.banner-contact p {
	font-size: 14px;
	padding-top: 12px;
}

.section-contact {
	margin-top: 70px;
	margin-bottom: 65px;
}
.section-contact form p {
	margin: 15px 0;
}
.section-contact form label {
	font-family: 'Montserrat-Regular';
	font-size: 16px;
	color: #231f20;
}
.section-contact form input {
	display: block;
	margin: 0;
	width: 100%;
	height: 50px;
	padding: 0 17px;
	border: 2px solid #231f20;
	margin-bottom: 22px;
}
span.required {
	color: #f89e32;
}
.section-contact form textarea {
	resize: none;
	display: block;
	margin: 0;
	width: 100%;
	height: 50px;
	padding: 0 17px;
	border: 2px solid #231f20;
	margin-bottom: 22px;
	height: 135px;
	padding-top: 20px;
	margin-bottom: 40px;
}
.section-contact button {
	width: 105px;
	width: 110px;
}

.contact-sidebar {
	float: right;
	padding-top: 10px;
}
.contact-sidebar img {
	margin-bottom: 50px;
}
.contact-sidebar h3 {
	font-size: 16px;
	font-family: 'Montserrat-Bold';
	margin-bottom: 5px;
}
.contact-sidebar p {
	font-size: 14px;
}
.contact-sidebar p a {
	color: #212529;
}
.contact-sidebar p i {
	color: #f89b2b;
	margin-right: 5px;
}

/*Principle Styles*/
.banner-principle {
	height: 10px;
	min-height: auto;
}
.principle-variant {
	margin-top: -10px;
}
.principle-section1 {
	margin-top: 150px;
	text-align: center;
}
.principle-section1 h2 {
	margin-bottom: 32px;
	color: #072f5c;
}
h2.heading-h2 {
	font-size: 50px;
	font-family: 'Montserrat-Black';
	text-transform: uppercase;
}
.principle-section1 p {
	width: 750px;
	max-width: 100%;
	margin: auto;
}
.principle-section1 img {
	width: 100%;
	display: block;
	margin: auto;
	margin-top: 80px;
}
.principle-section2 {
	text-align: center;
	color: #FFF;
	background: #133b67;
	background: rgb(58,97,139);
	background: linear-gradient(180deg, rgba(58,97,139,1) 0%, rgba(28,67,111,1) 20%, rgba(7,47,92,1) 100%);
	text-align: center;
	padding-bottom: 100px;
}
.principle-section2 h2 {
	padding-top: 32px;
	font-size: 30px;
	font-family: 'Montserrat-Bold';
	margin-bottom: 17px;
}
.principle-section2 p {
	width: 345px;
	max-width: 100%;
	margin: auto;
	font-size: 15px;
}
.principle-section2 img {
	display: block;
	margin: auto;
	margin-top: 25px;
	padding-bottom: 15px;
}
.principle-section2 .col-sm-6 {
	padding-left: 30px!important;
	padding-right: 30px!important;
}
.principle-section2 .col-sm-6:first-child {
	position: relative;
}
.principle-section2 .col-sm-6:first-child::after {
	content: " ";
	width: 2px;
	height: 100%;
	background: #FFF;
	position: absolute;
	right: -2px;
	top: 0;
}
.principle-section3 {
	text-align: center;
	padding: 70px 0;
}
.principle-section3 h2{
	margin: 0;
	color: #072f5c;
	padding-top: 40px;
}
.principle-section3 p {
	margin: auto;
	margin-top: 40px;
	width: 750px;
	max-width: 100%;
}
.principle-section3 img {
	display: block;
	margin: auto;
	width: 510px;
	max-width: 100%;
	margin-top: 40px;
}
.principle-section4 img {
	width: 100%;
}
.principle-section5 {
	text-align: center;
	padding: 110px 0 80px 0;
}
.principle-section5 h2 {
	margin: 0;
	width: 760px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	line-height: 0.95;
	color: #072f5c;
	margin-bottom: 30px;
}
.principle-section5 p {
	width: 720px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
}
.principle-section5 img {
	display: block;
	margin: auto;
	width: 510px;
	max-width: 100%;
	margin-top: 65px;
	margin-top: 60px;
}
.principle-section7 {
	padding: 110px 0;
}
.principle-section7 h2 {
	color: #072f5c;
	font-family: "Montserrat-Bold";
	font-size: 25px;
	margin: 100px 0 0 0;
	padding-right: 25px;
	line-height: 1.3;
}
.principle-section7 p {
	font-size: 14px;
	margin-top: 25px;
	padding-right: 25px;
}
.principle-section7 ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 25px;
}
.principle-section7 li {
	background: url(../img/icon-a-blue.png) no-repeat top left;
    padding-left: 26px;
    margin-bottom: 6px;
}

/*Vessels Styles*/
.banner-vessels{
	margin-bottom: 35px;
}
.banner-vessels h1 {
	font-style: italic;
	color: #002250;
	font-size: 50px;
	font-family: 'Montserrat-Black';
	text-transform: uppercase;
}
.banner-vessels h1 span {
	display: inline-block;
	font-size: 48px;
	position: relative;
	top: -12px;
}
.banner-vessels h1 i {
	font-size: 20px;
	border: 1px solid #002250;
	display: inline-block;
	position: relative;
	top: -24px;
	left: 14px;
	padding: 3px 8px 3px 6px;
}

.v-desc-inner .col-md-6 {
	padding-right: 30px;
}
.v-desc-inner .col-md-6:nth-child(2) {
	padding-right: 15px;
	padding-left: 30px;
}
.v-desc-inner h2,
.vessel-description h2 
{
	margin-top: 65px;
	font-family: "Montserrat-Bold";
	text-transform: uppercase;
	color: #072f5c;
	position: relative;
	padding-bottom: 15px;
	border-bottom: 3px solid #f7941d;
	margin-bottom: 20px;
	font-size: 29px;
}
.table1 {
	width: 100%;
}
.table1 tr {
	border-bottom: 2px solid #dededf;
}
.table1 th {
	font-family: "Montserrat-Bold";
}
.table1 td {
	text-align: right;
	padding-top: 3px;
	padding-bottom: 3px;
}
.v-desc-inner img {
	margin-top: 50px;
}
.other-vessels {
	border-top: 2px solid #999b9e;
	margin-bottom: 100px;
	margin-top: 100px;
	padding-top: 100px;
}
.other-vessels h2 {
	text-align: center;
	color: #072f5c;
	margin-bottom: 75px;
}
.other-vessels .slider-item p {
	font-size: 15px;
}
.other-vessels .slider-item img {
	max-width: 100%!important;
	height: auto!important;
	max-height: 200px!important;
}
.other-vessels .slider-item .s-img-container{
	max-height: auto!important;
	min-height: 240px!important;
}

.v-desc-inner img:hover {
	opacity: 0.8;
}

.symbol1 {
	position: relative;
	top: -2px;
}
.symbol2 {
	position: relative;
	top: -2px;
}

.vessel-specifications {
	position: relative;
	width: 504px;
	height: 307px;
	max-width: 100%;
	max-height: auto;
	margin-top: 50px;
}
.vessel-specifications p {
	position: absolute;
	left: 32px;
	top: 32px;
	color: #FFF;
	font-size: 16px;
	width: 180px;
	max-width: 100%;
	font-family: "Montserrat-Bold";
}
.vessel-specifications a {
	position: absolute;
	left: 32px;
	bottom: 28px;
}
.vs1 {
	background: url(../img/vessel-specification.png) top center no-repeat;
	background-size: 100% 100%;
}
.vs2 {
	background: url(../img/vessel-specification2.png) top center no-repeat;
	background-size: 100% 100%;
}

/*----- RESPONSIVE STYLES ------*/
@media screen and (max-width: 1199px) {
	.v-desc-inner h2,
	.vessel-description h2 {
		font-size: 22px;
	}
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
	.vessel-specifications p {
		left: 22px;
		font-size: 14px;
	}
	.vessel-specifications a {
		left: 22px;
		font-size: 13px;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.vessel-specifications {
		height: 260px;
		width: auto;
	}
	.vessel-specifications p {
		left: 15px;
		font-size: 13px;
		width: 120px;
	}
	.vessel-specifications a {
		left: 15px;
		font-size: 12px;
	}
}
@media screen and (max-width: 520px) {
	.vessel-specifications {
		height: 260px;
		width: auto;
	}
	.vessel-specifications p {
		left: 15px;
		font-size: 13px;
		width: 120px;
	}
	.vessel-specifications a {
		left: 15px;
		font-size: 12px;
	}
}
@media screen and (max-width: 991px) {
	.other-vessels .slider-item .s-img-container {
		min-height: auto!important;
	}
	.other-vessels .slider-item img {
		max-height: auto!important;
	}
	.other-vessels .slider-item .s-img-container{
		max-height: auto!important;
		height: 150px!important;
	}
	.other-vessels .slider-item p {
		font-size: 13px;
	}
	.specifics-box h3 {
		font-size: 30px;
	}
	.sb-img1 {
		position: absolute;
		margin-top: -400px;
		right: 0;
	}
	.sb-img2 {
		margin-top: -20px;
	}
	.sb-img3 {
		margin-top: 20px;
	}
	.sb-box3 ul {
		padding-right: 30px;
	}
	.sb-img4 {
		margin-top: 20px;
		padding-right: 15px;
	}
	.sb-img5 {
		padding-left: 20px;
		margin-top: -25px;
	}
	.v-desc-inner .col-md-6:nth-child(2) {
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.blue-gradient {
		top: 400px;
		left: 40%;
	}
	.other-vessels .slider-item .s-img-container{
		max-height: auto!important;
		height: 150px!important;
	}
}
@media screen and (max-width: 767px) {
	.other-vessels .slider-item .s-img-container{
		max-height: auto!important;
		height: auto!important;
		margin-bottom: 30px;
	}
	.principle-section2 .col-sm-6 {
		padding: 5px 15px 5px 15px!important;
	}
	.principle-section2 .col-sm-6::after {
		display: none;
	}
	.section2 {
		background-position: top left;
	}
	.features-list li {
		width: 50%;
		border-bottom: 1px solid #072f5c;
	}
	.features-list li:nth-child(2) {
		border-right: 1px solid #072f5c;
	}
	.features-list li h3 {
		font-size: 16px;
	}
	.features-list li p {
		font-size: 13px;
	}
	.section-principle {
		margin: 0;
		text-align: center;
	}
	.section-principle h2 {
		font-size: 40px;
		margin-top: 70px;
	}
	.section-principle h2 span {
		font-size: 22px;
	}
	.section-principle a.btn {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 40px;
	}
	.vessel1-bg{
		margin: auto;
		position: static;
	}
	.blue-gradient {
		bottom: -20px;
	}
	.section1 {
		min-height: 500px;
		overflow: hidden;
	}
	.section1 h2 {
		font-size: 45px;
		padding-top: 60px;
		text-align: center;
		width: 100%;
	}
	.section1 h2 span {
		font-size: 30px;
	}
	.section1 a.btn {
		margin: auto;
		margin-top: 100px;
		float: none;
		color: #FFF!important;
		border-color: #FFF!important;
	}
	.section1 a.btn .btn-icon {
		background: url(../img/icon-a-white.png) top center no-repeat;
	}
	.our-vessels h2 {
		font-size: 40px;
	}
	.section2 {
		min-height: auto;
		text-align: center;
		padding-bottom: 90px;
	}
	.section2 a.btn {
		margin-left: auto;
		margin-right: auto;
	}
	.section2-box {
		margin-top: 70px;
	}
	.section2-box a.btn {
		border-color: #f7941d;
		color: #f7941d!important;
	}
	.section2-box a.btn .btn-icon {
		background: url(../img/icon-a-yellow.png) top center no-repeat;
	}
	.section2 h2 {
		font-size: 40px;
		padding: 0;
	}
	h2.heading-h2 {
		font-size: 40px;
		padding: 0;
	}
	.section3 {
		text-align: center;
		padding-bottom: 60px;
	}
	.section3 h2 {
		font-size: 40px;
		width: 100%;
		margin-bottom: 50px;
	}
	.banner-about {
		min-height: 700px;
	}
	.banner h1 {
		font-size: 40px;
	}
	.about-vessels {
		padding: 50px 0;
	}
	.about-vessels img {
		padding-top: 30px;
	}
	.our-partner h2 {
		font-size: 40px;
	}
	
	.banner-specifics {
		min-height: auto;
		padding-bottom: 40px;
	}
	.specifics-box h3 {
		font-size: 25px;
	}
	.specifics-box {
		padding: 100px 0;
	}
	.specifics-box img {
		float: none;
		display: block;
		margin: auto;
	}
	.specifics-box ul {
		padding: 0;
	}
	.sb-img1 {
		position: relative;
		margin-top: 0;
		right: 0;
	}
	.sb-img2 {
		margin-top: -20px;
	}
	.sb-img3 {
		margin-top: 20px;
	}
	.sb-img4 {
		margin-top: 20px;
		padding-right: 15px;
	}
	.sb-img5 {
		padding-left: 20px;
		margin-top: -25px;
	}
	.contact-sidebar {
		float: none;
		width: 210px;
		margin: 30px auto 0 auto;
	}
	.principle-section7 {
		padding: 0 0 70px 0;
	}
	.principle-section7 ul, 
	.principle-section7 h2, 
	.principle-section7 p {
		padding-right: 0;
	}
	.principle-section7 img {
		margin-top: 50px;
	}
}
@media screen and (max-width: 600px) {
	.specifics-box img {
		margin-top: 30px;
	}
}

/*====== FOOTER STYLES ======*/
#footer {
	clear: both;
}
.footer-content {
	background: #072f5c;
	color: #FFF;
	padding-bottom: 12px;
}
.footer-list {
	float: left;
	width: 20%;
	margin-right: 3%;
	padding-top: 70px;
}
.footer-list1 {
	width: 15%;
}
.footer-list2 {
	width: 34%;
}
.footer-list3 {
	width: 24%;
}
.footer-list4 {
	width: 15%;
}
.footer-list li {
	list-style: none;
	display: block;
	margin-top: 4px;
}
.footer-list li:first-child {
	position: relative;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: 'Montserrat-Bold';
	font-size: 16px;
	color: #FFF;
	font-size: 15px;
}
.footer-list li:first-child::after {
	content: " ";
	width: 40px;
	height: 4px;
	background: #f7941d;
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 100%;
}
.footer-list li a {
	color: #FFF;
	font-size: 15px;
	font-size: 14px;
}
.footer-content-sidebar {
	border-left: 4px solid #FFF;
	padding-left: 50px;
	margin-top: 26px;
}
.footer-content img {
	margin-top: -26px;
}
.footer-content h3 {
	margin-top: 27px;
	margin-bottom: 5px;
	font-family: 'Montserrat-Bold';
	color: #FFF;
	font-size: 14px;
}
.footer-content p {
	color: #FFF;
	font-size: 13px;
}
.footer-content p a {
	color: #FFF;
}
.footer-content p i {
	margin-right: 5px;
}

.footer-bottom {
	color: #FFF;
	background: #58595b;
}
.footer-bottom p {
	font-size: 13px;
	margin-top: 25px;
	float: left;
	position: absolute;
}
.footer-bottom a {
	float: right;
}
.footer-bottom a:hover {
	opacity: 0.8;
}

/*----- RESPONSIVE STYLES ------*/
@media screen and (max-width: 1199px) {
	.footer-content li:first-child {
		font-size: 13px;
	}
	.footer-content li a {
		font-size: 13px;
	}
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
	.footer-content li:first-child {
		font-size: 12px;
	}
	.footer-content li a {
		font-size: 11px;
	}
	.footer-content-sidebar p {
		font-size: 11px;
	}
	.footer-list1 {
		width: 15%;
	}
	.footer-list2 {
		width: 32%;
	}
	.footer-list3 {
		width: 23%;
	}
	.footer-list4 {
		width: 18%;
	}
}
@media screen and (max-width: 991px) {
	.footer-content-sidebar {
		padding: 0;
		border: 0;
		width: 200px!important;
		max-width: 100%!important;
		margin: auto;
		margin-top: 50px;
		margin-bottom: 30px;
		float: none;
		text-align: center;
	}
	.footer-content-sidebar img {
		display: block;
		margin: auto;
	}
	.footer-list li:first-child {
		font-size: 14px;
		display: inline-block;
	}
	.footer-list li:first-child::after {
		width: 100%;
	}
	.footer-list1 {
		width: 15%;
	}
	.footer-list2 {
		width: 32%;
	}
	.footer-list3 {
		width: 24%;
	}
	.footer-list4 {
		width: 16%;
	}
	.footer-content li:first-child {
		font-size: 12px;
	}
	.footer-content li a {
		font-size: 11px;
	}
	.footer-content-sidebar p {
		font-size: 11px;
	}
}
@media screen and (max-width: 767px) {
	.footer-list {
		width: 100%;
		padding: 0;
		margin: auto;
		text-align: center;
		padding-top: 30px;
	}
	.footer-list li a {
		font-size: 14px;
	}
}
.slider-item{
		margin-bottom: 30px;
	}


@media screen and (min-width: 700px) and (max-width: 767px) {
	.slider-item{
		height: 520px;
	}
	.fr-slder .dvdr-55{
		height: 55px !important;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
	#header h1{
		font-size: 60px;
	}
	#header h1 span{
		font-size: 40px;
	}
	.slider-item{
		height: 510px;

		margin-bottom: 30px;
	}
	.section-principle{
		overflow: hidden;
	}
	.extraHeight .slider-item{
		min-height:560px;
		height: 100%;
	}
	.fr-slder .dvdr-55{
		height: 55px !important;
	}
	.extraHeight .slider-item{
		height: 540px;
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.slider-item{
		height: 500px;

		margin-bottom: 30px;
	}
	.section-principle{
		overflow: hidden;
	}

	.heightMIn .slider-item br{
		display: none;
	}
	.other-vessels.heightMIn .slider-item p{
		height: 120px;
	}

}
@media screen and (min-width: 993px) and (max-width: 1180px) {
.heightMIn .slider-item br{
		display: none;
	}
	.other-vessels.heightMIn .slider-item p{
		height: 120px;
	}
	/*.heightMIn .s-img-container{
		height: 200px !important;
	}*/
	.heightMIn .slider-item h3{
		height: 50px;
	}
	.hmSize .slider-item p{
		height: 80px;
	}
	.hmSize .slider-item br{
		display: none;
	}
	.hmSize .slider-item h3{
		height: 60px;
	}
}
.our-partner-content img{
	max-width: 300px;
}
@media (max-width: 400px){
	#header.nav-fixed .header-home #logo, #header.nav-fixed.header-inner #logo{
		max-width: 200px;
	}
	#logo{
		max-width: 200px;
	}
}

@media screen and (min-width: 400px) and (max-width: 700px) {
	.slider-item .s-img-container img{
		height: 80% !important;
	}
	.s-img-container {
	    height: 260px!important;
	}
}

@media screen and (min-width: 992px) and (max-width: 1000px) {
	.slider-item{
		height: 580px;
	}
	.extraHeight .slider-item{
		height: 640px;
	}
	.vessel1-bg{
		right: 0;
	}
	.s-img-container{
		margin-bottom: 60px;
	}
}

.principle-section3{
	padding-bottom: 0;
}
.section3{
	background-image: url(../img/section-bg/section3-bg.jpg);
}
.specifics-box{
	padding-bottom: 50px;
}

@media (min-width: 2000px){
	.slider-vessel div img {
	    max-height: 2500vw;
	}
}

.section3{
	background-position: left;
}

.pt-15{
	padding-top: 15px;
}
.other-vessels.height_pr .slider-item p{
	min-height: 88px;
}
.pr-height .slider-item p{
	min-height: 80px;
}
p.heightPr_pr{
	min-height: 110px;
}


.footer-list li a{
	white-space: nowrap;
}
.footer-list li:first-child a{
	white-space: normal;
}

.pt_heightEx.other-vessels .slider-item p{
	min-height: 88px;
}
@media screen and (min-width: 680px) and (max-width: 767px) {
	.pr-height .slider-item p{
		min-height: 114px;
	}
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
	.pt_heightEx.other-vessels .slider-item p{
	  min-height: 110px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	.pt_heightEx.other-vessels .slider-item p{
	  min-height: 133px;
    }
    .other-vessels.height_pr .slider-item p{
    	min-height: 120px;
    }
    .pb-30{
		padding-top: 20px;
	}
}

@media (min-width: 993px){
	.pb-30{
		padding-top: 30px;
	}
}

@media (max-width: 767px){
	.other-vessels.height_pr .slider-item p{
		min-height: 40px;
	}
	.other-vessels.height_pr .slider-item .s-img-container{
		height: 200px !important;
	}
	.pt_heightEx.other-vessels .slider-item p{
		min-height: 40px;
	}
}

@media (max-width: 480px){
	.section3{
		background-position: bottom;
	}
	.section1.pt_ver h2{
		font-size: 30px;
	}
	.section1.pt_ver h2 span{
		font-size: 24px;
	}
	#header.pt_vr h1{
		font-size: 40px;
	}
	#header.pt_vr h1 span{
		font-size: 30px;
	}
}