@media (max-width: 1199px) {
    .navbar-light .navbar-nav .nav-link {
        color: #000 !important;
        padding-right: .8rem !important;
        padding-left: .8rem !important;
    }
}

@media (max-width: 991px) {
    .nav-item {
        display: block !important;
    }

    .speaker-image {
        margin: auto;
        margin-bottom: 40px;
    }

    .single-speaker {
        text-align: center;
    }

    .speaker-reverse .speaker-image {
        float: none;
    }

    .speaker-reverse .col-lg-8 {
        order: 1;
    }

    .speaker-reverse .col-lg-4 {
        order: 0;
    }

    .single-workshop {
        margin-bottom: 130px;
    }

    .single-workshop:after {
        bottom: -25px;
    }

    .single-speaker ul {
        text-align: left;
    }

    .speaker-social {
        text-align: center !important;
    }

}

@media (max-width: 767px) {}

@media (max-width: 575px) {}