/* Common Styles
================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:300,400,600,700,800,900|Roboto:300,400,500,700,900');

@font-face {
   font-family: "font name";
   font-style: normal;
   font-weight: 400;
   src: url("../webfonts/.WOFF") format("woff");
}


/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   background-color: #F3F3F3;
   color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 15px;
   font-weight: 700;
}

a,
a:hover,
a:focus,
a:active,
a:hover,
a:visited {
   text-decoration: none;
   color: #333;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}


input:focus,
textarea:focus,
button:focus {
   outline: 0 solid;
}

nav {
   position: fixed;
   width: 100%;
   bottom: 0;
}

nav ul {
   display: flex;
   justify-content: space-around;
   list-style: none;
   margin: 0;
   padding: 0;
}

nav ul li {
   flex-grow: 1;
   text-align: center;
}

nav a {
   display: block;
   width: 100%;
   padding: 15px;
   color: #fff !important;
   font-weight: 600;
   background-color: red;
   transition: 0.5s;
}

nav a:hover {
   background-color: #7E1E46;
}

/* tabs */
.nav-tabs>.active>a,
.nav-tabs>.active>a:hover {
   cursor: default;
   background-color: #ddd;
}

.tab-content.active {
   display: block;
}

.tab-content.hide {
   display: none;
}

/* info */
.info{margin-top: 30px;}
.info-tabs>.active>a,
.info-tabs>.active>a:hover {
   cursor: default;
   background-color: #eee;
}

.info-content.active {
   display: block;
}

.info-content.hide {
   display: none;
}

.info .container .col-md-4 {
   background-color: #F9F9F9;
}

.info .container {
   background-color: #F3F3F3;
}

.info-tabs {
   margin: 0;
   list-style: none;   overflow-y: scroll;
   max-height: calc(100vh - 85px);    padding: 30px 10px;

}
.single-info-content{
   overflow-y: scroll;
   max-height: calc(100vh - 170px);
}
.info-tabs li {
   margin-bottom: 15px;
}

.info-tabs li a {
   display: block;
   padding: 25px 25px 25px 70px;
   -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);
   box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);
   position: relative;
   font-weight: 700;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}

.info-tabs li a:after {
   content: '';
   position: absolute;
   left: 60px;
   top: 20%;
   height: 60%;
   width: 1px;
   background-color: #D1D1D1;
}

.info-tabs li a i {
   font-size: 26px;
   position: absolute;
   left: 15px;
   color: #7E1E46;
}

.info-content-wrapper {}

.info-content {}

.info-content h2 {
   color: #fff;
   background-color: #7E1E46;
   font-size: 20px;font-weight: 600;
   padding: 20px 15px;border-radius: 3px;
}
.info-content i{display: none;}
.info-content h4 {
   font-size: 18px;font-weight: 700;
   display: table;position: relative;margin-bottom: 30px;
}
.info-content h4:after{
   content: '';
   position: absolute;left: 0;bottom: -10px;height: 1px;width: 100%;background-color: #7E1E46;
}
.info-content h5 {font-size: 16px;font-weight:600;margin-bottom: 10px;}

.info-content p {margin-bottom: 60px;}

.single-info-content {
   margin: 15px;
   background-color: #fff;
   padding: 25px 20px;
   -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);
   box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
}


/* map */
.map iframe{height: calc(100vh - 55px);width: 99vw;}