/* Common Styles
================*/

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;600;700;800&family=Chivo:wght@300;400;700&family=Yeseva+One&display=swap');


/*
font-family: 'Assistant', sans-serif;
font-family: 'Chivo', sans-serif;
font-family: 'Yeseva One', cursive;
*/

body {
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    background-color: #0A0A0A;
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

a,
a:hover,
a:focus,
a:active,
a:hover,
a:visited {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


input:focus,
textarea:focus,
button:focus {
    outline: 0 solid;
}



/* hero area */
.hero-area {
    background-image: url(../img/cover.jpg);
    height: calc(100vh - 75px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 1;
}

.hero-area:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: -0;
    content: '';
}

header {
    background: #000;
    height: 75px;
    padding: 20px 80px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
}

header a.logo {
    font-family: 'Yeseva One', cursive;
    letter-spacing: 6px;
    font-size: 18px;
    font-weight: 500;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    display: block;
    text-transform: uppercase;
    padding: 7px 25px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

header nav ul li.active a,
header nav ul li:hover a {
    color: #bcbcbc !important;
}

header a.mobile-bar {
    display: none;
    float: right;
}

.home-content iframe {
    margin-top: 75px;
    width: 100%;
    height: 550px;
    margin-bottom: 150px;
}

.home-content img.home-single-image {
    width: 100%;
    margin-bottom: 175px;
    display: block;
}

.home-content .image-content img {
    width: 630px;
}

.home-content .image-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

.home-content .image-content:after {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 630px;
    background-color: #000;
    opacity: 0.2;
    z-index: -0;
    content: '';
}

.home-content .image-content p {
    margin-bottom: 0;
    position: absolute;
    left: 550px;
    z-index: 1;
}

.image-gallery {
    margin-top: 225px;
}

.image-gallery p {
    font-size: 18px;
    text-align: center;
}

.image-gallery a {
    display: inline-block;
    width: 31%;
    margin-right: 2%;
}

.image-gallery a:last-child {
    margin-right: 0;
}

footer {
    margin-top: 150px;
    text-align: center;
    padding-bottom: 150px;
}

footer .social {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}

footer .social li {
    display: inline-block;
}

footer .social li a {
    display: block;
    padding: 5px;
}

footer .social li a i {
    font-size: 20px;
}

.single-song-chart {
    margin-bottom: 150px;
    margin-top: 75px;
}

.single-song-chart:last-child {
    margin-bottom: 0;
}

.single-song-chart h2,
h2.header {
    font-family: 'Assistant', sans-serif;
    font-size: 29px;
    display: table;
    position: relative;
    padding-bottom: 15px;
    font-weight: 300;
    margin-bottom: 40px;
}

.single-song-chart h2:after,
h2.header:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% + 60px);
    height: 1px;
    background-color: #858585;
    left: 0;
}

.single-song-chart p {
    margin-bottom: 0px;
    font-size: 18px;
}

.single-song-chart a {
    color: #bcbcbc;
    margin-right: 5px;
}

.single-song-chart a:hover {
    text-decoration: underline;
}

.single-song-chart ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-content,
.song-content {
    margin-top: 50px;
}

.contact-content form {
    margin-bottom: 75px;
}

.contact-content label {
    display: block;
    font-weight: 500;
    font-size: 17px;
}

.contact-content input[type="text"],
.contact-content input[type="email"] {
    width: 450px;
    padding: 6px;
    margin-bottom: 15px;
}

.contact-content textarea {
    width: 700px;
    margin-bottom: 15px;
}

.contact-content input[type="submit"] {
    --mobile-header-height-number: 65;
    --use-custom-mobile-header-height: true;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.4;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    display: block;
    height: 40px;
    padding: 0.42em 1em;
    border: 1px solid transparent;
    transition: background .2s ease-in-out, border-color .2s ease-in-out, color .25s ease-in-out;
    padding-bottom: 0;
    padding-top: 0;
    width: auto;
    border-radius: 0;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border-color: #ffffff;
    color: #fff;
    letter-spacing: 2px;
    -webkit-transition: background .2s ease-in-out, border-color .2s ease-in-out, color .25s ease-in-out;
    -moz-transition: background .2s ease-in-out, border-color .2s ease-in-out, color .25s ease-in-out;
    -ms-transition: background .2s ease-in-out, border-color .2s ease-in-out, color .25s ease-in-out;
    -o-transition: background .2s ease-in-out, border-color .2s ease-in-out, color .25s ease-in-out;
}

.contact-content input[type="submit"]:hover {
    background-color: #fff;
    color: #000;
}

.follow-us {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #858585;
    text-align: center;
}

.follow-us li {
    display: inline-block;
}

.follow-us li a {
    display: block;
    padding: 5px;
}

.follow-us svg {
    height: 20px;
    fill: #fff;
}



/* LYRICS START FROM HERE */

.title.lyrics-title {
    font-family: 'Assistant', sans-serif;
    font-size: 34px;
    display: table;
    position: relative;
    padding-bottom: 15px;
    font-weight: 300;
    margin: auto;
    margin-bottom: 20px;padding-top: 80px;
}

.title.lyrics-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% + 60px);
    height: 1px;
    background-color: #858585;
    left: -30px;
}

h4.lyrics-title{
   font-weight: 300;font-size: 18px;font-weight: 600;
}
.lyrics {
    margin-bottom: 80px;
    text-align: center;
}

.lyrics p {
    position: relative;
    margin-top: 15px;
    margin-bottom: 0;
}

.lyrics p b {
    font-size: 14px;
    text-decoration: underline;
}

.lyrics p span {
    position: absolute;
    top: -15px;
    color: #3F9ED2;
    font-size: 13px;
}

.lyrics p span i {
    font-style: normal;
}



/* CHORDS BUTTON STYLE START FROM HERE */
ul.chord_list {
    list-style: none;
    padding: 0;
    margin: 40px 0;
    text-align: center;
}

ul.chord_list li {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    width: 30px;
    text-align: center;
}

.chord_list .avtive_chord {
    background-color: #3F9ED2;
    color: white;
}

ul.chord_list ul {
    display: none;
}

.lyrics-title {
    text-align: center;
}




/* autoscroll */
button.auto-scroll {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background: #384354;
    color: #fff;
    padding: 10px 15px;
    font-weight: 700;
    border: 0;
    cursor: pointer;
    transition: .3s;
    border: 2px solid transparent;
    outline: 0;
}

button.auto-scroll.active {
    border: 2px solid #3F9ED2;
}

.video-width {
    margin: auto;
    text-align: center;
}

.video-width iframe {
    height: 350px;
    width: 650px;
}