@media (max-width: 1500px) {
    header h5 {
        font-size: 19px;
    }
}

@media (max-width: 1199px) {
    nav ul li a {
        color: #fff !important;
        font-size: 14px;
        padding: 10px;
        line-height: 2;
    }

    header a h6 {
        font-size: 10.5px;
    }
    .single-recent-project{display: block;}
    .single-recent-project img{ margin-bottom: 15px;height: 150px;min-width: auto;}
}

@media (max-width: 991px) {
    nav {
        background-color: #fff;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        width: 32.5%;
        margin-bottom: 5px;
    }

    nav ul li a {
        line-height: 1.2;
        background-color: #F2751C;
        height: 40px;
    }

    nav ul li a img {
        display: initial;
        height: 18px;
    }

    header a img {
        height: 50px;
    }

    header a h6 {
        font-size: 14px;
        margin-top: 5px;
    }

    header h5 {
        font-size: 22px;
    }

    .mobile-hide {
        display: none;
    }

    header a img {
        margin: auto;
    }

    header a {
        text-align: center;
    }
}

@media (max-width: 767px) {
    nav ul li a {
        line-height: 1.2;
        background-color: #F2751C;
        height: 40px;
        font-size: 12px;
        font-weight: 700;
    }

    header h5 {
        font-size: 16px;
    }

    .content {
        margin-top: 30px;
        margin-bottom: 30px;
    }
/* nav responsive */

a.responsive-menu {
    display: inline-block;
    z-index: 999;
    font-size: 36px;
    float: right;
    margin-top: 0px;
    position: absolute;
    right: 0;
    top: 17px;
}

a.serv-menu{
    right: auto;
}
.menu,.left-sidebar {
    display: none;
}
.menu li {
    display: block;width: 100%;
}
nav a:after {
    display: none;
}

}

@media (max-width: 575px) {
    nav ul li {
        width: 49%;
    }
}

@media (max-width: 480px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }a.responsive-menu {
        right: 30px;
    }
    
    a.serv-menu{
        right: auto;
        left: 40px;
    }
}