/* Common Styles
================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:300,400,600,700,800,900|Roboto:300,400,500,700,900');

@font-face {
   font-family: "font name";
   font-style: normal;
   font-weight: 400;
   src: url("../webfonts/.WOFF") format("woff");
}


/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   background-color: #fff;
   color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0 0 15px;
   font-weight: 700;
}

a,
a:hover,
a:focus,
a:active,
a:hover,
a:visited {
   text-decoration: none;
   color: #333;
}

img {
   max-width: 100%;
   height: auto;
   display: block;
}


input:focus,
textarea:focus,
button:focus {
   outline: 0 solid;
}

.container-fluid {
   width: 100%;
   padding-right: 60px;
   padding-left: 60px;
}

body {
   background: #0b1a43 url(../img/bluebg.jpg) no-repeat center top;
   no-repeat center top;
   margin: 0px auto;
   height: 100%;
   width: 100%;
   border: 0;
}

/* header */
header {
   margin-top: 20px;
   color: #FFF;
}

header a h6 {
   color: #fff;
   font-size: 20.4px;
   margin-top: 20px;
}

header h5 {
   text-align: center;
   font-size: 24px;
}

.mobile-hide img {
   float: right;
}

.body-content {
   background-color: #fff;
   border-radius: 7px;
   padding: 10px;
}

/* nav */
nav {
   background-color: #F2751C;
}

nav ul {
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;
}

nav ul li {
   border-right: 1px solid #fff;
}

nav ul li:last-child {
   border-right: 0;
}

nav ul li a {
   color: #fff !important;
   font-family: arial;
   font-weight: 600;
   font-size: 16px;
   display: block;
   padding: 15px 25px;
   line-height: 1.7;
}

nav ul li a:hover {
   background-color: #DA5D03;
}

/* nav responsive */


a.responsive-menu {
   display: none;
   position: relative;
}
a.responsive-menu:after{
   content:'About';
   position: absolute;font-size: 14px;
   color: #FFF;left: -6px;
}
a.serv-menu:after{
   content:'Services';
   position: absolute;font-size: 14px;
   color: #FFF;left: -12px;
}
.bar1,
.bar2,
.bar3 {
   width: 27px;
   height: 3px;
   background-color: #fff;
   margin: 6px 0;
   transition: 0.4s;
}

.change .bar1 {
   transform: rotate(-45deg) translate(-7px, 7px);
   -webkit-transform: rotate(-45deg) translate(-7px, 7px);
   -moz-transform: rotate(-45deg) translate(-7px, 7px);
   -ms-transform: rotate(-45deg) translate(-7px, 7px);
   -o-transform: rotate(-45deg) translate(-7px, 7px);
}

.change .bar2 {
   opacity: 0;
}

.change .bar3 {
   transform: rotate(45deg) translate(-6px, -6px);
   -webkit-transform: rotate(45deg) translate(-6px, -6px);
   -moz-transform: rotate(45deg) translate(-6px, -6px);
   -ms-transform: rotate(45deg) translate(-6px, -6px);
   -o-transform: rotate(45deg) translate(-6px, -6px);
}



/* left-sidebar */
.left-sidebar {}

.left-sidebar ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.left-sidebar ul li {
   font-size: 14px;
   font-weight: 700;
   font-family: 'Open Sans', sans-serif;
   padding: 4px;
   margin-bottom: 2px;
   padding-left: 15px;
}

.left-sidebar ul li a {
   font-weight: normal;
}

.left-sidebar ul li.sidebar-main-header {
   color: #fff;
   padding: 4px 5px;
   font-weight: 600;
}

.left-sidebar ul li.sidebar-section-header {
   font-weight: 600;
}

.left-sidebar ul li:nth-child(1) {
   background-color: #97B6D7;
}

.left-sidebar ul li:nth-child(2) {
   background-color: #F6E896;
}

.left-sidebar ul li:nth-child(3) {
   background-color: #FAF1C3;
}

.left-sidebar ul li:nth-child(4) {
   background-color: #FAF1C3;
}

.left-sidebar ul li:nth-child(5) {
   background-color: #FAF1C3;
}

.left-sidebar ul li:nth-child(6) {
   background-color: #FAF1C3;
}

.left-sidebar ul li:nth-child(7) {
   background-color: #FAF1C3;
}

.left-sidebar ul li:nth-child(8) {
   background-color: #99CC66;
   color: #fff;
}

.left-sidebar ul li:nth-child(9) {
   background-color: #CCFF99;
}

.left-sidebar ul li:nth-child(10) {
   background-color: #CCFF99;
}

.left-sidebar ul li:nth-child(11) {
   background-color: #CCFF99;
}

.left-sidebar ul li:nth-child(12) {
   background-color: #CCFF99;
}

.left-sidebar ul li:nth-child(13) {
   background-color: #CCFF99;
}

.left-sidebar ul li:nth-child(14) {
   background-color: #BBD9EE;
}

.left-sidebar ul li:nth-child(15) {
   background-color: #EBF4FA;
}

.left-sidebar ul li:nth-child(16) {
   background-color: #EBF4FA;
}

.left-sidebar ul li:nth-child(17) {
   background-color: #EBF4FA;
}

.left-sidebar ul li:nth-child(18) {
   background-color: #EBF4FA;
}

.left-sidebar ul li:nth-child(19) {
   background-color: #EBF4FA;
}

.left-sidebar ul li:nth-child(15) {
   background-color: #EBF4FA;
}

.left-sidebar ul li:nth-child(3):hover {
   background-color: #F6e896;
}

.left-sidebar ul li:nth-child(4):hover {
   background-color: #F6e896;
}

.left-sidebar ul li:nth-child(5):hover {
   background-color: #F6e896;
}

.left-sidebar ul li:nth-child(6):hover {
   background-color: #F6e896;
}

.left-sidebar ul li:nth-child(7):hover {
   background-color: #F6e896;
}

.left-sidebar ul li:nth-child(9):hover {
   background-color: #99CC66;
}

.left-sidebar ul li:nth-child(9):hover a {
   color: #fff;
}

.left-sidebar ul li:nth-child(10):hover {
   background-color: #99CC66;
}

.left-sidebar ul li:nth-child(10):hover a {
   color: #fff;
}

.left-sidebar ul li:nth-child(11):hover {
   background-color: #99CC66;
}

.left-sidebar ul li:nth-child(11):hover a {
   color: #fff;
}

.left-sidebar ul li:nth-child(12):hover {
   background-color: #99CC66;
}

.left-sidebar ul li:nth-child(12):hover a {
   color: #fff;
}

.left-sidebar ul li:nth-child(13):hover {
   background-color: #99CC66;
}

.left-sidebar ul li:nth-child(13):hover a {
   color: #fff;
}

.left-sidebar ul li:nth-child(15):hover {
   background-color: #BBD9EE;
}

.left-sidebar ul li:nth-child(16):hover {
   background-color: #BBD9EE;
}

.left-sidebar ul li:nth-child(17):hover {
   background-color: #BBD9EE;
}

.left-sidebar ul li:nth-child(18):hover {
   background-color: #BBD9EE;
}

.left-sidebar ul li:nth-child(19):hover {
   background-color: #BBD9EE;
}

.left-sidebar ul li:nth-child(15):hover {
   background-color: #BBD9EE;
}

.left-sidebar img {
   margin: auto;
   margin-top: 5px;
}

/* content */
.content h5 {
   color: #336699;
   font-size: 18px;
}
.content h4 {
   color: #000;
   font-size: 18px;font-weight: 600;
}

.content h6 {
   font-size: 14px;
}

.content p {
   font-size: 14px;
   margin-bottom: 10px;
}

.content a {
   color: #5483BC !important;
}

.content a:hover {
   color: #FF6666 !important;
}

ul.arrow-list {
   list-style-image: url(../img/arrow.gif)
}

/* right sidebar */

.right-sidebar .service-box {
   background-color: #F0F2F3;
   padding: 8px;
   font-family: 'Open Sans', sans-serif;
   box-shadow: -3px 0px 2px #ccc;
   padding-bottom: 60px;
}

.right-sidebar .service-box h6 {
   background-color: #7BC364;
   color: #fff;
   font-weight: 600;
   font-size: 14px;
   padding: 10px;
}

.right-sidebar .service-box p {
   font-size: 14px;
}

.right-sidebar .service-box b {
   font-size: 14px;
}

.right-sidebar .service-box a {
   color: #5483BC !important;
}

.right-sidebar .service-box a:hover {
   color: #FF6666 !important;
}

/* footer */
footer {
   background-color: #CEDCEC;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   font-size: 13px;
   padding: 10px;
}

footer p {
   margin-bottom: 0;
   line-height: 2;
}

footer a {
   color: #5483BC !important;
}

footer a:hover {
   color: #FF6666 !important;
}


/* single-recent-project */
.single-recent-project{display: flex;border-bottom: 1px dotted #000;padding-bottom: 10px;margin-bottom: 30px;}
.single-recent-project:last-child{
   border: 0;padding: ;
}
.single-recent-project img{min-width: 250px;border: 1px solid #000;margin-right: 15px;}


/* single-testimonial */
.single-testimonial{border-top: 1px dotted #000;padding-top: 20px;margin-top: 50px; }
.single-testimonial b{display: block;}
.single-testimonial span{font-weight: normal;} 