.slide-row{
    height: 315px;
    overflow: hidden;
}
.slide-row .col-main{
    height: 100%;
}
.index-carousel,.carousel-inner{
    height: 100%;
    overflow: hidden;
}
.carousel-inner .item a{
    display: block;
}
.carousel-inner .item, .carousel-inner .item a > img{
    height: 100%;
    width: 100%;
}
.carousel-inner .sub-item{
    position: relative;
}

.sub-item a>img{
    border: 1px solid #fefefe;
}
.carousel-content-main,
.carousel-content-side{
    width: 440px;
    height: 376px;
    float: left;
}
.carousel-content-main .sub-item,
.carousel-content-main .sub-item a>img,
.carousel-content-main .sub-item a{
    width: 440px;
    height: 376px;
}
.carousel-content-side .sub-item{
    float: left;
}
.carousel-content-side .sub-item,
.carousel-content-side .sub-item a>img,
.carousel-content-side .sub-item a{
    width: 220px;
    height: 188px;
}
.carousel-inner .sub-item:hover a img{
    border: 2px solid #fe8a19;
}
.carousel-caption {
    text-shadow: 0 2px 2px #000000;
    font-size: 16px;
    background: url(../images/mh_main/topimg_bg.png) repeat-x;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    padding: 0 0 0 10px;
    line-height: 102px;
    text-align: left;
}
@media (min-width: 1200px) {
    .slide-row{
        height: 415px;
    }
}

.flink-title{
    font-size: 18px;
    padding-bottom: 15px;
}
.flink-body{
    border: 1px solid #e6e6e6;
    padding: 10px;
}










/** 友情链接样式 **/

.flink-item{
    padding: 5px;
}

/** 历史纪录样式 **/
.history-box{
    padding: 0;
    margin-bottom: 0;
    line-height:24px;
}
.history-box li:hover{
    background: lightgray;
}