.filter{

}
.filter-header{
    margin: 15px 0 0;
}
.filter-title{
    float: left;
}
.filter-click{
    float: left;
}

.filter-nav{

}
.filter-item {
    /*padding: 5px 0;*/
}
.filter-nav label{
    margin: 0;
}
.filter-nav ul{
    margin-left: 0;
}
.filter-click li,.filter-nav li{
    float: left;
    height: 2em;
    margin: 0 5px 5px 0;
}
.filter-click li a.active:after{
    content: '×';
}
.filter-click li a,.filter-nav li a{
    line-height:2em;
    padding: 5px;
    //background: #ccc;
    color: black;
}
.filter-click li a.active,.filter-nav li a.active{
    background: #3591d5;
    color: white;
}
.filter-click li.filter-clear a{
    padding-left: 0;
}

.filter-item label
{
    display: block;
    font-size: 18px;
    font-weight: normal;
    padding: 10px 0;
}
/** 排序 **/
span.list_con_t{
    float: left;
    margin: 15px 0 0;
}
.sorter {
    margin: 15px 0 0;
    padding: 0;
    float: left;
}
.sorter li{
    float: left;
    height: 1em;
    line-height:1em;
    border-right: 1px solid #999;
}
.sorter li:last-child {
    border: none;
}
.sorter li a{
    float: left;
    color: black;
    padding: 0 10px;
}
.sorter li a.asc,.sorter li a.desc,.sorter li a:hover{
    color: #fe5419;
}



/**   分页    **/

.pagination > li:last-child > a, .pagination > li:last-child > span,
.pagination > li:first-child > a, .pagination > li:first-child > span{
    border-radius: 0!important;
}
.list_head_mid .pagination{
    float: right;
}
.list_head_mid .pagination > li > a, .list_head_mid .pagination > li > span{
    border: none;
}

span.comi_num{
    float: right;
    margin: 0;
}

.list_con_li .list-comic a img{
    width: 118px;
    height: 158px;
}

.list-view .empty{
    text-align: center;
    line-height: 4;
    font-size: 18px;
}


.wrap_list_con .search_con li.list-comic{
    width: 156px;
    height: 248px;
}

